.proj-header-page {
    height: 30vh;
    .proj-header-image {
        img {
            filter: blur(0px);
            top: auto;
            bottom: -27.5%;
            transform: translateX(-50%);
            opacity: 0.9;
        }
    }
}

.summary-content {
    .summary-photo {
        img {
            filter: grayscale(10%);
            opacity: 0.8;
        }
    }
    .summary-paragraph {
        p {
            font-size: 18px;
            opacity: 1;
            line-height: 32px;
        }
    }
}

.toolbox-internal-paragraph {
    width: 100% !important;
    line-height: 42px;
}

.toolbox-nav-item {
    display: flex;
    height: 30px !important;
    flex-direction: column;
    justify-content: center;
}

@media (orientation: portrait) {
    .summary-content {
        display: flex;
        flex-direction: column;
        .summary-photo {
            display: none;
            width: 100%;
        }
        .summary-paragraph {
            p {
                opacity: 1;
                font-size: 17px;
                line-height: 42px !important;
            }
        }
    }
}