.summary-content {
    .summary-paragraph {
        p {
            font-size: 18px;
            opacity: 1;
            line-height: 32px;
        }
    }
}

.toolbox-internal-paragraph {
    width: 100% !important;
    line-height: 42px;
}

.toolbox-nav-item {
    display: flex;
    height: 30px !important;
    flex-direction: column;
    justify-content: center;
}

.proj-header-image {
    img {
        filter: blur(4px);
    }
}

@media (orientation: portrait) {
    .summary-content {
        display: flex;
        flex-direction: column;
        .summary-photo {
            display: none;
            width: 100%;
        }
        .summary-paragraph {
            p {
                opacity: 1;
                font-size: 17px;
                line-height: 42px !important;
            }
        }
    }
}