@import '../../styles/vars.scss';
@import '../../styles/play-ad.scss';

:root {
    randomRoto: 180deg;
}

.proj-header-page {
    z-index: 5;
    .proj-header {
        &::after {
            height: 6px;
            border-top-left-radius: 40%;
            border-bottom-left-radius: 40%;
        }
    }
    .proj-header-image {
        img {
            opacity: 0.5;
        }
    }
}

.proj-summary-page {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    .summary-header {
        font-size: 18px;
        z-index: 3;
        padding-left: $defaultpadding;
        &::after {
            left: 0px;//$defaultpaddingportrait;
        }
    }
    .summary-bg-gradient {
        position: absolute;
        top: 0px;
        left: 10px;
        height: 100%;
        width: auto;
        z-index: 0;
        img {
            height: 100%;
            width: auto;
            opacity: 0.85;
            filter: grayscale(20%);
        }
        &::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            box-shadow: inset -10px 10px 40px 20px rgba($color: $darkblack, $alpha: 0.5);
        }
    }
    .summary-image {
        position: relative;
        z-index: 2;
        margin-left: 15%;
    }
    .summary-decor {
        pointer-events: all;
        position: absolute;
        top: 50%;
        left: 32%;
        height: 70%;
        z-index: 0;
        transform: translate(-50%, -50%);
        transition: 0.75s;
        // transition-timing-function: $lightsnapandeaseout;
        transition-timing-function: $easeinoutxtra;
        transition-delay: 0.7s;
        img {
            height: 100%;
            width: auto;
            transition: 1s;
            transition-timing-function: $easeinoutxtra;
            filter: brightness(80%)
                    grayscale(20%);
        }
        &:hover {
            // $random-roto: random(365) + 195;
            margin-left: -$defaultpadding;
            // left: 40%;
            filter: drop-shadow(16px 0px 0px rgba($color: $darkblack, $alpha: 0.75));
            img {
                filter: brightness(95%) grayscale(0%) drop-shadow(-10px -10px 10px rgba(0, 0, 0, 0.15));
                // transform: rotate(var(--randomRoto)deg);
                // rotate(#{ random(365) + 195 }deg);
                //rotate(#{ $random-roto }deg);
            }
        }
    }
    .summary-content {
        pointer-events: all;
        width: 70%;
        position: relative;
        .summary-paragraph {
            pointer-events: all;
            position: relative;
            z-index: 3;
            padding-left: calc(#{ $defaultpadding } * 2);
            p {
                font-size: 18px;
                line-height: 42px;
            }
            &::after {
                $mask-distance: 7.5%;
                content: '';
                position: absolute;
                top: 36.5%;
                left: 0px;
                transform: translate(-50%, -50%);
                width: 4px;
                height: 150%;
                background-color: white;
                filter: brightness(80%);
                mask-image: -webkit-gradient(linear, left top, left bottom,
                    color-stop(0%, rgba(0,0,0,0.25)),
                    color-stop($mask-distance, rgba(0,0,0,1)), 
                    color-stop(calc(100% - #{ $mask-distance }), rgba(0,0,0,1)),
                    color-stop(100%, rgba(0,0,0,0.25)));
                -webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
                    color-stop(0%, rgba(0,0,0,0.25)), 
                    color-stop($mask-distance, rgba(0,0,0,1)),
                    color-stop(calc(100% - #{ $mask-distance }), rgba(0,0,0,1)),
                    color-stop(100%, rgba(0,0,0,0.25)));
            }
        }
        &::after, &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0px;
        }
        &::before {
            width: 50%;
            height: 90%;
            transform: translate(-10%, -50%);
            border-radius: 50%;
            z-index: 0;
            background-color: black;
            opacity: 0.35;
            filter: blur(30px);

        }
        &::after {
            background-color: $darkblack;
            transform: translateY(-50%);
            width: 100%;
            height: 130%;
        }
    }
}

.toolbox-internal-paragraph {
    width: 100% !important;
}

.play-ad-page {
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-2deg);
        background-color: $darkblack;
        width: 120vw;
        height: 60%;
        z-index: -3;
    }
    .ad-info {
        width: auto;
        right: auto;
        left: $contentboxpadding;
        text-align: left;
        z-index: 99;
        .project-desc {
            float: auto;
        }
        &::after {
            right: auto;
            left: -24px;
        }
        &:hover {
            .header,
            .project-header,
            .project-desc {
                margin-left: 9px;
            }
            &::after {
                transform: translate(-3px, -50%);
            }
            .pop-icon {
                left: -96px;
                img {
                    opacity: 0.5;
                    filter: blur(0px);
                }
            }
        }
        .pop-icon {
            position: absolute;
            top: 50%;
            left: -256px;
            width: 56px;
            transform: translateY(-50%);
            transition: 0.25s;
            transition-timing-function: $lightsnapandeaseout;
            img {
                opacity: 0;
                width: 100%;
                height: auto;
                filter: blur(15px);
                transition: 0.25s;
                transform: rotate(90deg);
            }
        }
    }
}

.playable-ad {
    transition: 2s;
    transform: rotate(0deg);
    z-index: 5;
    &:hover {
        transition: 2s;
        transform: rotate(0deg);
    }
}

.playable-ad-row {
    .playable-ad:nth-child(2) {
        // filter: brightness(0.5) grayscale(70%);
        opacity: 0.5;
        right: 86px;//196px;
        transform: translateX(-100%) scale(0.9);
        z-index: 4;
        &:hover {
            transition: all 2s right 0.2s;
            transition-timing-function: $easeinoutxtra;
            right: 124px;
        }
    }
}

@media (max-width: 1400px) {
    .proj-summary-page {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: $defaultpadding $contentboxpaddingportrait;
        .summary-content {
            position: relative;
            width: 60%;
        }
        .summary-image {
            display: none;
        }
        .summary-bg-gradient {
            left: -10%;
        }
    }
}

@media (orientation: portrait) {
    .proj-header-page {
        .proj-header {
            img {
                width: 55vw;
            }
        }
    }
    .proj-summary-page {
        .summary-bg-gradient {
            filter: brightness(50%) blur(2px);
        }
        .summary-decor {
            display: none;
            pointer-events: none;
            left: auto;
            right: 0px;
            transform: translate(50%, -50%);
            img {
                filter: brightness(20%) grayscale(60%);
            }
        }
        .summary-content {
            overflow: hidden;
            width: 100%;
            .summary-paragraph {
                padding: 0px $defaultpaddingportrait;
                // overflow: hidden;
                p {
                    font-size: 20px;
                    z-index: 3;
                    opacity: 0.9;
                }
                &::after, &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
                &::before {
                    width: 120%;
                    height: 105%;
                    background-color: rgba(0, 0, 0, 0.25);
                    z-index: -1;
                    transform: translate(-50%, -50%);
                }
                &::after {
                    display: none;
                }
            }
            &::after {
                background-color: transparent;
            }
        }
    }
}

@media (max-width: 1400px) {
    .play-ad-page {
        height: 980px;
        .ad-info {
            width: 80%;
            top: 75%;
            left: 50%;
            transform: translateX(-50%);
            .project-desc {
                float: none;
                width: 90%;
            }
        }
        .playable-ad {
            margin-right: 10%;
        }
    }
}

@media (max-width: $breakpoint-phone) {
    .play-ad-page {
        .playable-ad {
            &:nth-child(1) {
                display: none;
            }
            &:nth-child(2) {
                right: 40%;
                transform-origin: center;
                transform: scale(1.15) translateX(43.5%);
                opacity: 1;
                filter: brightness(90%), grayscale(10%);
                &:hover {
                    transform: scale(1.15) translateX(43.5%);
                    right: 43%;
                }
            }
        }
    }

}
