@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Fredoka+One&&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Emblema+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=NTR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
.play-ad-page {
  height: 60vh;
  position: relative;
}
.play-ad-page .ad-info {
  pointer-events: all;
  position: absolute;
  right: 612px;
  width: 50%;
  text-align: right;
  top: 50%;
  transform: translateY(-70%);
}
.play-ad-page .ad-info::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  height: 80%;
  width: 4px;
  background-color: white;
  opacity: 0.5;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.4, -0.5, 0, 1.75);
}
.play-ad-page .ad-info .header,
.play-ad-page .ad-info .project-header,
.play-ad-page .ad-info .project-desc {
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.07, 0.75, 0.32, 0.96);
}
.play-ad-page .ad-info .header {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  opacity: 0.8;
}
.play-ad-page .ad-info .project-header {
  font-family: "Questrial", sans-serif;
  margin-bottom: 48px;
  opacity: 0.25;
}
.play-ad-page .ad-info .project-desc {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  width: 480px;
  float: right;
  opacity: 0.5;
}
.play-ad-page .ad-info:hover .header,
.play-ad-page .ad-info:hover .project-header,
.play-ad-page .ad-info:hover .project-desc {
  margin-right: 9px;
}
.play-ad-page .ad-info:hover::after {
  opacity: 0.2;
  transform: translate(3px, -50%);
  height: 100%;
  border-radius: 4px;
}

.playable-ad {
  position: absolute;
  right: 148px;
  top: -12px;
  transform: rotate(2deg);
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.55, -0.01, 0.41, 1);
  filter: brightness(0.5) grayscale(50%);
  z-index: 3;
}
.playable-ad .player-bg {
  height: 700px;
}
.playable-ad .player-bg img {
  height: 100%;
  width: auto;
}
.playable-ad .ad-iframe {
  pointer-events: all;
  position: absolute;
  height: 530px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.playable-ad:hover {
  opacity: 1;
  transition: 0.35s;
  transition-timing-function: cubic-bezier(0.82, 1.6, 0.35, 0.89);
  filter: brightness(1);
  transform: rotate(1.5deg);
}

.proj-header-page {
  z-index: 5;
}
.proj-header-page .proj-header-image img {
  opacity: 0.5;
}

.proj-summary-page {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
}
.proj-summary-page .summary-header {
  font-size: 18px;
  z-index: 3;
  padding-left: 20px;
}
.proj-summary-page .summary-header::after {
  left: 20px;
}
.proj-summary-page .summary-bg-gradient {
  position: absolute;
  top: 0px;
  left: 10px;
  height: 100%;
  width: auto;
  z-index: 0;
}
.proj-summary-page .summary-bg-gradient img {
  height: 100%;
  width: auto;
  opacity: 0.35;
  filter: grayscale(20%);
}
.proj-summary-page .summary-image {
  position: relative;
  z-index: 2;
  margin-left: 15%;
}
.proj-summary-page .summary-decor {
  pointer-events: all;
  position: absolute;
  top: 50%;
  left: 42%;
  height: 80%;
  z-index: 0;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.07, 0.75, 0.32, 0.96);
}
.proj-summary-page .summary-decor img {
  height: 100%;
  width: auto;
  transition: 2s;
  transition-timing-function: cubic-bezier(0.74, 0, 0.48, 1.01);
  filter: brightness(40%) grayscale(20%);
}
.proj-summary-page .summary-decor:hover {
  left: 40%;
}
.proj-summary-page .summary-decor:hover img {
  filter: brightness(90%) grayscale(0%) drop-shadow(-10px -10px 10px rgba(0, 0, 0, 0.15));
}
.proj-summary-page .summary-content {
  pointer-events: all;
  width: 60%;
  position: relative;
}
.proj-summary-page .summary-content .summary-paragraph {
  pointer-events: all;
  position: relative;
  z-index: 3;
  padding-left: 40px;
}
.proj-summary-page .summary-content .summary-paragraph p {
  line-height: 42px;
}
.proj-summary-page .summary-content .summary-paragraph::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 85%;
  background-color: white;
  opacity: 0.5;
  mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(10%, black), color-stop(calc(100% - 10%), black), color-stop(100%, rgba(0, 0, 0, 0)));
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(10%, black), color-stop(calc(100% - 10%), black), color-stop(100%, rgba(0, 0, 0, 0)));
}
.proj-summary-page .summary-content::after, .proj-summary-page .summary-content::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
}
.proj-summary-page .summary-content::before {
  width: 50%;
  height: 90%;
  transform: translate(-10%, -50%);
  border-radius: 50%;
  z-index: 0;
  background-color: black;
  opacity: 0.35;
  filter: blur(30px);
}
.proj-summary-page .summary-content::after {
  background-color: #171717;
  transform: translateY(-50%);
  width: 100%;
  height: 130%;
}

.toolbox-internal-paragraph {
  width: 100% !important;
}

.play-ad-page::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-2deg);
  background-color: #171717;
  width: 120vw;
  height: 60%;
  z-index: -3;
}
.play-ad-page .ad-info {
  width: auto;
  right: auto;
  left: 200px;
  text-align: left;
  z-index: 99;
}
.play-ad-page .ad-info .project-desc {
  float: auto;
}
.play-ad-page .ad-info::after {
  right: auto;
  left: -24px;
}
.play-ad-page .ad-info:hover .header,
.play-ad-page .ad-info:hover .project-header,
.play-ad-page .ad-info:hover .project-desc {
  margin-left: 9px;
}
.play-ad-page .ad-info:hover::after {
  transform: translate(-3px, -50%);
}
.play-ad-page .ad-info:hover .pop-icon {
  left: -96px;
}
.play-ad-page .ad-info:hover .pop-icon img {
  opacity: 0.5;
  filter: blur(0px);
}
.play-ad-page .ad-info .pop-icon {
  position: absolute;
  top: 50%;
  left: -256px;
  width: 56px;
  transform: translateY(-50%);
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.07, 0.75, 0.32, 0.96);
}
.play-ad-page .ad-info .pop-icon img {
  opacity: 0;
  width: 100%;
  height: auto;
  filter: blur(15px);
  transition: 0.25s;
  transform: rotate(90deg);
}

.playable-ad {
  transition: 2s;
  transform: rotate(0deg);
  z-index: 5;
}
.playable-ad:hover {
  transition: 2s;
  transform: rotate(0deg);
}

.playable-ad-row .playable-ad:nth-child(2) {
  opacity: 0.5;
  right: 86px;
  transform: translateX(-100%) scale(0.9);
  z-index: 4;
}
.playable-ad-row .playable-ad:nth-child(2):hover {
  transition: all 2s right 0.2s;
  transition-timing-function: cubic-bezier(0.74, 0, 0.48, 1.01);
  right: 124px;
}

@media (max-width: 1400px) {
  .proj-summary-page {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 40px 20px;
  }
  .proj-summary-page .summary-content {
    position: relative;
    width: 60%;
  }
  .proj-summary-page .summary-image {
    display: none;
  }
  .proj-summary-page .summary-bg-gradient {
    left: -10%;
  }
}
@media (orientation: portrait) {
  .proj-header-page .proj-header img {
    width: 55vw;
  }

  .proj-summary-page .summary-bg-gradient {
    filter: brightness(50%) blur(2px);
  }
  .proj-summary-page .summary-decor {
    display: none;
    pointer-events: none;
    left: auto;
    right: 0px;
    transform: translate(50%, -50%);
  }
  .proj-summary-page .summary-decor img {
    filter: brightness(20%) grayscale(60%);
  }
  .proj-summary-page .summary-content {
    overflow: hidden;
    width: 100%;
  }
  .proj-summary-page .summary-content .summary-paragraph {
    padding: 0px 20px;
  }
  .proj-summary-page .summary-content .summary-paragraph p {
    font-size: 20px;
    z-index: 3;
    opacity: 0.9;
  }
  .proj-summary-page .summary-content .summary-paragraph::after, .proj-summary-page .summary-content .summary-paragraph::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .proj-summary-page .summary-content .summary-paragraph::before {
    width: 120%;
    height: 105%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
    transform: translate(-50%, -50%);
  }
  .proj-summary-page .summary-content .summary-paragraph::after {
    display: none;
  }
  .proj-summary-page .summary-content::after {
    background-color: transparent;
  }
}
@media (max-width: 1400px) {
  .play-ad-page {
    height: 980px;
  }
  .play-ad-page .ad-info {
    width: 80%;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
  }
  .play-ad-page .ad-info .project-desc {
    float: none;
    width: 90%;
  }
  .play-ad-page .playable-ad {
    margin-right: 10%;
  }
}
@media (max-width: 680px) {
  .play-ad-page .playable-ad:nth-child(1) {
    display: none;
  }
  .play-ad-page .playable-ad:nth-child(2) {
    right: 40%;
    transform-origin: center;
    transform: scale(1.15) translateX(43.5%);
    opacity: 1;
    filter: brightness(90%), grayscale(10%);
  }
}

/*# sourceMappingURL=via.css.map */
