@import '../../styles/vars.scss';

.proj-header-page {
    z-index: 999;
    margin-bottom: $defaultpadding;
    .super-logo {
        position: absolute;
        top: $defaultpadding;
        left: $defaultpadding;
        height: 75%;
        img {
            height: 100%;
            width: auto;
        }
    }
}

.summary-content {
    position: relative;
    .summary-header {
        position: relative;
        font-family: 'Inconsolata', sans-serif;
        font-size: 24px;
        text-transform: lowercase;
        opacity: 0.5;
        white-space: nowrap;
    }
    .summary-paragraph {
        position: relative;
        width: 50%;
        line-height: 48px;
        z-index: 1;
        opacity: 0.8;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 110%;
            height: 110%;
            transform: translate(-50%, -50%);
            background-color: $darkblack;
            opacity: 0.7;
            z-index: -1;
        }
    }
    .summary-mockup {
        pointer-events: all;
        position: absolute;
        height: 120%;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        transition: 0.75s;
        transition-timing-function: $easeinoutxtra;
        z-index: 0;
        img {
            height: 100%;
            width: auto;
            transition: 2s;
            opacity: 0.4;
        }
        &:hover {
            cursor: pointer;
            top: 55%;
            transform: translateY(-50%) skew(0.5deg, -0.5deg);
            transition-timing-function: $lightsnapandeaseout;
            img {
                opacity: 0.85;
            }
        }
        &:active {
            top: 52.5%;
            img {
                transition: 0.25s;
                opacity: 0.5;
            }
        }
    }
    .summary-year {
        font-family: 'Inconsolata', sans-serif;
        position: absolute;
        font-size: 24px;
        left: 0px;
        top: 0px;
        opacity: 0.25;
    }
    &::after, &::before {
        content: '';
        top: 0px;
        position: absolute;
    }
    &::after {
        left: 50%;
        width: 100vw;
        height: 100%;
        background-color: $darkblack;
        transform: translate(-50%, -100%);
    }
    &::before {
        background-color: white;
        width: 40%;
        height: 3px;
        right: 0px;
        z-index: 1;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        filter: brightness(50%);
        box-shadow: 0px 5px 10px black;
    }
}

#quiz-player {
    position: relative;
    min-height: 760px;
    padding-top: calc(#{ $defaultpadding } * 4);
    .quiz-headers {
        position: relative;
        height: 48px;
        z-index: 99;
        margin-right: $defaultpadding;
    }
    .quiz-header, .quiz-subheader {
        text-align: right;
        transition: 0.25s;
        transition-timing-function: $lightsnapandeaseout;
    }
    .quiz-header {
        position: relative;
        font-family: 'Questrial', sans-serif;
        font-size: 48px;
        height: 48px;
        text-transform: capitalize;
        margin-bottom: -20px;
    }
    .quiz-subheader {
        font-family: 'Raleway Dots', sans-serif;
        font-size: 19px;
        font-weight: 800;
        opacity: 0.5;
    }
    .quiz-frame {
        $border-hdistance: 24px;
        $border-vdistance: 32px;
        position: absolute;
        width: 80%;
        height: 760px;
        left: 50%;
        transform: translateX(-50%);
        iframe {
            pointer-events: all;
            width: 100%;
            height: 100%;
            border-top-left-radius: 15px;
            border-bottom-right-radius: 15px;
            transition: 1.5s;
            filter: brightness(50%) grayscale(70%);
            &:hover {
                filter: brightness(100%) grayscale(20%);
            }
        }
        &::after, &::before {
            content: '';
            position: absolute;
            height: 40%;
            width: 4px;
            background-color: white;
            z-index: 999;
            border-radius: 50%;
            opacity: 0.6;
            transition: 0.75s;
            transition-timing-function: $easeinoutxtra;
        }
        &::after {
            top: $border-vdistance;
            right: -$border-hdistance;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
        &::before {
            bottom: $border-vdistance;
            left: -$border-hdistance;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
    &.hovered {
        .quiz-header {
            transform: translateY(-85%);
            opacity: 0.125;
        }
        .quiz-subheader {
            transition-delay: 0.125s;
            transform: translateY(50%);
            opacity: 1;
            // font-size: 150%;
            transition-timing-function: $easeinoutxtra;
        }
        .quiz-frame {
            $border-vdistance-hovered: -12px;
            z-index: 3;
            &::after, &::before {
                height: 95%;//55%;
                transition: 0.5s;
                transition-delay: 0.25s;
                transition-timing-function: cubic-bezier(.73, .19, .22, .99);
                opacity: 0.125;
            }
            &::after {
                top: $border-vdistance-hovered;
            }
            &::before {
                bottom: $border-vdistance-hovered;
            }
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150%;
        height: 50%;
        background-color: $darkblack;
        transform: translate(-50%, -30%);
    }
}

#cross-platform {
    position: relative;
    .responsive-row {
        margin-top: $defaultpadding;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        .screens-image {
            position: relative;
            width: 60%;
            img {
                width: 100%;
                height: auto;
                filter: brightness(80%) grayscale(50%);
            }
        }
        .responsiveness-description {
            pointer-events: all;
            position: relative;
            width: 30%;
            background-color: $darkgray;
            transition: 0.5s;
            transition-timing-function: $lightsnapandeaseout;
            p {
                font-family: 'Raleway', sans-serif;
                font-weight: 300;
                position: absolute;
                top: 50%;
                padding: $defaultpadding;
                transform: translateY(-50%);
                line-height: 48px;
            }
            &::before, &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0px;
                content: '';
            }
            &::after {
                transform: translate(-50%, -50%);
                width: 4px;
                height: 320px;
                border-top-left-radius: 50%;
                border-bottom-right-radius: 50%;
                background-color: white;
                opacity: 0.5;
            }
            &::before {
                background-color: black;
                width: 50%;
                transform: translate(-5%, -50%);
                border-radius: 50%;
                height: 80%;
                z-index: -1;
                filter: blur(30px);
                opacity: 0.35;
                transition: 0.5s;
            }
            &:hover {
                // transform: translateX(-$defaultpadding);
                margin-left: -12px;
                &::before {
                    transform: translate(5%, -50%);
                }
            }
        }
    }
}

.cross-platform-header {
    position: relative;
    h1 {
        font-family: 'Mate SC', sans-serif;
        font-size: 48px;
        margin-top: 0px;
        line-height: 42px;
    }
    h2 {
        font-family: 'Raleway Dots', sans-serif;
        font-family: 18px;
        opacity: 0.5;
        margin-bottom: 0px;
    }
    .cross-platform-header-icon {
        position: absolute;
        height: 70%;
        top: 50%;
        left: -$defaultpadding;
        transform: translate(-100%, -50%);
        img {
            max-height: 100%;
            width: auto;
            opacity: 0.5;
        }
    }
}

@media (orientation: portrait) {
    .proj-header-page {
        .proj-header {
            img {
                display: none;
            }
            &::after {
                width: 90vw;
                right: auto;
                left: 10px;
                transform: translate(-100%, -50%);
            }
        }
        .super-logo {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .proj-summary-page {
        .summary-content {
            .summary-header {
                z-index: 999;
                &::after {
                    display: none;
                }
            }
            .summary-mockup {
                pointer-events: none;
                img {
                    filter: brightness(40%) grayscale(50%);
                }
            }
            .summary-paragraph {
                width: 100%;
                p {
                    font-size: 18px;
                }
            }
            &::before {
                width: 90%;
            }
        }
        .summary-year {
            left: auto;
            right: 0px;
            font-size: 32px;
            z-index: 99;
            transform: translateY(-110%);
        }
    }
    #quiz-player {
        .quiz-headers {
            margin-right: $defaultpaddingportrait;
        }
        .quiz-frame {
            width: 100%;
            iframe {
                filter: brightness(100%) grayscale(20%);
            }
        }
    }
    #cross-platform {
        .responsive-row {
            display: flex;
            flex-direction: column;
            .screens-image {
                text-align: center;
                min-width: 110%;
            }
            .responsiveness-description {
                margin-top: 40%;
                width: 100%;
                margin-bottom: 15%;
                &::after {
                    left: 50%;
                    top: -196px;
                    width: 75%;
                    height: 4px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-phone) {
    .proj-summary-page {
        .summary-year {
            transform: translateY(-160%);
        }
    }
    .proj-header-page {
        .super-logo {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60%;
            transform: translate(-50%, -50%);
            img {
                height: auto;
                width: 100%;
            }
        }
    }
    .summary-content {
        .summary-mockup {
            right: -40%;
            img {
                opacity: 0.9;
            }
        }
        .summary-paragraph {
            p {
                padding: $contentboxpaddingportrait $defaultpaddingportrait;
                line-height: 36px;
                padding: 0px;
            }
            &::before {
                margin-top: -7vh;
                height: 180%;
                opacity: 0.9;
            }
        }
    }
    #cross-platform {
        margin-top: 128px;
        .responsive-row {
            .responsiveness-description {
                margin-bottom: 25%;
                margin-top: 65%;
            }
        }
    }
}
