@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Fredoka+One&&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Emblema+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=NTR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
.proj-header-page {
  z-index: 999;
  margin-bottom: 40px;
}
.proj-header-page .super-logo {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 75%;
}
.proj-header-page .super-logo img {
  height: 100%;
  width: auto;
}

.summary-content {
  position: relative;
}
.summary-content .summary-header {
  font-family: "Inconsolata", sans-serif;
  font-size: 24px;
}
.summary-content .summary-paragraph {
  position: relative;
  width: 50%;
  line-height: 48px;
  z-index: 1;
  opacity: 0.8;
}
.summary-content .summary-paragraph::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  transform: translate(-50%, -50%);
  background-color: #171717;
  opacity: 0.7;
  z-index: -1;
}
.summary-content .summary-mockup {
  pointer-events: all;
  position: absolute;
  height: 120%;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  transition: 0.75s;
  transition-timing-function: cubic-bezier(0.74, 0, 0.48, 1.01);
  z-index: 0;
}
.summary-content .summary-mockup img {
  height: 100%;
  width: auto;
  transition: 2s;
  opacity: 0.4;
}
.summary-content .summary-mockup:hover {
  cursor: pointer;
  top: 55%;
  transform: translateY(-50%) skew(0.5deg, -0.5deg);
  transition-timing-function: cubic-bezier(0.07, 0.75, 0.32, 0.96);
}
.summary-content .summary-mockup:hover img {
  opacity: 0.85;
}
.summary-content .summary-mockup:active {
  top: 52.5%;
}
.summary-content .summary-mockup:active img {
  transition: 0.25s;
  opacity: 0.5;
}
.summary-content .summary-year {
  font-family: "Inconsolata", sans-serif;
  position: absolute;
  font-size: 24px;
  left: 0px;
  top: 0px;
  opacity: 0.25;
}
.summary-content::after, .summary-content::before {
  content: "";
  top: 0px;
  position: absolute;
}
.summary-content::after {
  left: 50%;
  width: 100vw;
  height: 100%;
  background-color: #171717;
  transform: translate(-50%, -100%);
}
.summary-content::before {
  background-color: white;
  width: 40%;
  height: 3px;
  right: 0px;
  z-index: 1;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: brightness(50%);
  box-shadow: 0px 5px 10px black;
}

#quiz-player {
  position: relative;
  min-height: 760px;
  padding-top: calc(40px * 4);
}
#quiz-player .quiz-headers {
  position: relative;
  height: 48px;
  z-index: 99;
}
#quiz-player .quiz-header, #quiz-player .quiz-subheader {
  text-align: right;
  margin-right: 40px;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.07, 0.75, 0.32, 0.96);
}
#quiz-player .quiz-header {
  position: relative;
  font-family: "Questrial", sans-serif;
  font-size: 48px;
  height: 48px;
  text-transform: capitalize;
  margin-bottom: -20px;
}
#quiz-player .quiz-subheader {
  font-family: "Raleway Dots", sans-serif;
  font-size: 19px;
  font-weight: 800;
  opacity: 0.5;
}
#quiz-player .quiz-frame {
  position: absolute;
  width: 80%;
  height: 760px;
  left: 50%;
  transform: translateX(-50%);
}
#quiz-player .quiz-frame iframe {
  pointer-events: all;
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 1.5s;
  filter: brightness(50%) grayscale(70%);
}
#quiz-player .quiz-frame iframe:hover {
  filter: brightness(100%) grayscale(20%);
}
#quiz-player .quiz-frame::after, #quiz-player .quiz-frame::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 4px;
  background-color: white;
  z-index: 999;
  border-radius: 50%;
  opacity: 0.6;
  transition: 0.75s;
  transition-timing-function: cubic-bezier(0.74, 0, 0.48, 1.01);
}
#quiz-player .quiz-frame::after {
  top: 32px;
  right: -24px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#quiz-player .quiz-frame::before {
  bottom: 32px;
  left: -24px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#quiz-player.hovered .quiz-header {
  transform: translateY(-85%);
  opacity: 0.125;
}
#quiz-player.hovered .quiz-subheader {
  transition-delay: 0.125s;
  transform: translateY(50%);
  opacity: 1;
  transition-timing-function: cubic-bezier(0.74, 0, 0.48, 1.01);
}
#quiz-player.hovered .quiz-frame {
  z-index: 3;
}
#quiz-player.hovered .quiz-frame::after, #quiz-player.hovered .quiz-frame::before {
  height: 95%;
  transition: 0.5s;
  transition-delay: 0.25s;
  transition-timing-function: cubic-bezier(0.73, 0.19, 0.22, 0.99);
  opacity: 0.125;
}
#quiz-player.hovered .quiz-frame::after {
  top: -12px;
}
#quiz-player.hovered .quiz-frame::before {
  bottom: -12px;
}
#quiz-player.hovered::after {
  opacity: 0.2;
}
#quiz-player::after {
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  transition: 1s;
  z-index: 100;
}
#quiz-player::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 50%;
  background-color: #171717;
  transform: translate(-50%, -30%);
}

/*# sourceMappingURL=ascentium.css.map */
