@import '../../styles/vars.scss';

.proj-header-page {
    z-index: 999;
    margin-bottom: $defaultpadding;
    .super-logo {
        position: absolute;
        top: $defaultpadding;
        left: calc(#{ $defaultpadding } * 2);
        height: 110%;
        z-index: 99;
        img {
            height: 100%;
            width: auto;
        }
    }
}

.summary-content {
    position: relative;
    width: 100%;
    min-height: 50vh;
    .summary-graphic {
        $leaf-brightness: 50%;
        pointer-events: all;
        position: relative;
        height: 100%;
        transform: translateY(15%);
        left: 0px;
        .plant-leaf {
            position: absolute;
            height: 80%;
            bottom: -18%;
            left: 17%;
            transition: 0.5s;
            transition: 1.5s;
            transition-timing-function: $easeinoutxtra;
            filter: brightness($leaf-brightness);
            img {
                height: 100%;
                width: auto;
            }
        }
        .pumpkin-plant {
            position: absolute;
            width: 60%;
            left: -25%;
            top: 50%;
            transform: translate(0%, -30%);
            transition: 2s;
            transition-timing-function: $easeinoutxtra;
            filter: brightness(65%);
            img {
                width: 100%;
                height: auto;
            }
        }
        .flower-plant {
            position: absolute;
            right: -45%;
            bottom: -10%;
            transition: 2.5s;
            height: 80%;
            filter: brightness($leaf-brightness);
            img {
                height: 100%;
                width: auto;
            }
        }
        .inbetween-plant {
            position: absolute;
            left: 0%;
            bottom: -20%;
            transform: translate(-50%, 0%);
            height: 110%;
            filter: brightness(65%);
            img {
                height: 100%;
                width: auto;
            }
        }
        .pumpkin {
            position: absolute;
            height: 75%;
            top: 35%;
            left: 7%;
            transform: translate(-50%, -50%);
            transition: 0.5s;
            transition-timing-function: $aggressiveeaseboing;
            img {
                height: 100%;
                width: auto;
            }
        }
        &:hover {
            .pumpkin {
                top: 30%;
            }
            .pumpkin-plant {
                left: -24.6%;
                top: 51%;
                filter: brightness(90%);
            }
            .plant-leaf {
                left: 16.8%;
                filter: brightness(80%);
            }
            .flower-plant {
                right: -44.5%;
                filter: brightness(90%);
            }
        }
    }
    .summary-header {
        font-family: 'Inconsolata', sans-serif;
        font-size: 24px;
        text-transform: lowercase;
        opacity: 0.5;
    }
    .summary-paragraph {
        pointer-events: all;
        position: absolute;
        right: 0px;
        top: 50%;
        width: 70%;
        line-height: 48px;
        z-index: 1;
        opacity: 0.8;
        transform: translateY(-50%);
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 110%;
            height: 110%;
            transform: translate(-50%, -50%);
            background-color: $darkblack;
            opacity: 0.7;
            z-index: -1;
        }
    }
    .summary-year {
        font-family: 'Inconsolata', sans-serif;
        position: absolute;
        font-size: 24px;
        left: 0px;
        top: 0px;
        opacity: 0.25;
    }
    &::after {
        content: '';
        top: 0px;
        position: absolute;
        left: 50%;
        width: 100vw;
        height: 100%;
        background-color: $darkblack;
        transform: translate(-50%, -100%);
    }
}

#mock-section {
    position: relative;
    min-height: 40vh;
    margin-top: calc(#{ $defaultpadding } * 2);
    .mock-header {
        margin-bottom: $defaultpadding;
        h1 {
            font-family: 'Raleway Dots', sans-serif;
            opacity: 0.25;
            transition: 0.5s;
        }
    }
    .mock-description {
        pointer-events: all;
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
        width: 25%;
        p {
            font-family: 'Raleway', sans-serif;
            font-weight: 300;
            line-height: 48px;
            transition: 0.5s;
            transition-timing-function: $lightsnapandeaseout;
        }
        &::after {
            content: '';
            position: absolute;
            left: -$defaultpadding;
            top: 50%;
            height: 110%;
            width: 4px;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            background-color: white;
            transform: translate(-50%, -50%);
            opacity: 0.5;
        }
    }
    .mock-ipad {
        pointer-events: all;
        position: absolute;
        top: 50%;
        right: -10%;
        width: 50%;
        transform: translateY(-50%);
        transition: 0.5s;
        transition-timing-function: $lightsnapandeaseout;
        img {
            width: 100%;
            height: auto;
            filter: brightness(70%) grayscale(20%);
            transition: 1.5s;
        }
        &:hover {
            margin-top: 12px;
            margin-right: 20px;
            img {
                filter: brightness(100%) grayscale(0%);
            }
        }
    }
    .mock-rake {
        position: absolute;
        height: 480px;
        width: auto;
        right: 1%;
        top: 20%;
        transform: translateY(-50%);
    }
    &:hover {
        .mock-description p {
            transform: translateX(calc(#{ $defaultpadding } / 4));
        }
        .mock-header h1 {
            opacity: 0.75;
            transform: translateX(calc(#{ $defaultpadding } / 2));
        }
    }
}

#skillset-toolbox {
    position: relative;
    width: 55%;
    right: $defaultpadding;
    transform: translateX(30%);
    .beehouse {
        position: absolute;
        width: 35%;
        top: 60%;
        left: 0px;
        transform: translate(-72%, -50%) rotate(-2deg);
        filter: grayscale(20%);
        opacity: 0.75;
        img {
            width: 100%;
            height: auto;
        }
    }
}

@media (orientation: portrait) {
    .proj-header-page {
        .proj-header {
            img {
                display: none;
            }
            &::after {
                left: 0px;
                right: 10px;
                transform: translate(-100%, -50%);
            }
        }
        .super-logo {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .summary-content {
        .summary-graphic {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            filter: brightness(70%);
            // top: 50vh;
            // left: 50%;
            // transform: translate(50%, 30vw);
        }
        .summary-paragraph {
            width: 100%;
            &::before {
                opacity: 0.9;
            }
        }
    }
    #mock-section {
        .mock-description {
            width: 100%;
            z-index: 1;
            p, h2 {
                z-index: 3;
                opacity: 1;
            }
            p {
                padding-right: $defaultpaddingportrait;
            }
            &::before {
                content: '';
                position: absolute;
                width: 120%;
                height: 120%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 0;
                opacity: 0.5;
            }
        }
        .mock-ipad, .mock-rake {
            filter: brightness(60%);
        }
        .mock-ipad {
            width: 120%;
            opacity: 0.5;
            z-index: -4;
        }
        .mock-rake {
            right: 22%;
            top: 30%;
            filter: brightness(40%);
        }
    }
    #skillset-toolbox {
        right: auto;
        left: 50%;
        width: 95%;
        transform: translateX(-50%);
        .beehouse {
            left: 30%;
            width: 90%;
            z-index: -1;
            transform: translateY(-50%) scaleX(-1);
            filter: brightness(50%);
        }
    }
}

@media (max-width: $breakpoint-phone) {
    #skillset-toolbox {
        .beehouse {
            width: 120%;
        }
    }
}
