@import '../../styles/vars.scss';

$seccolor: #ed1c25;

.proj-header-page {
    .proj-header-image {
        img {
            top: -40%;
            transform: translate(-50%, 0%);
            transition: 1s;
            transition-timing-function: cubic-bezier(.55,-0.01,.41,1);
        }
        &:hover {
            img {
                transition: 6s;
                top: -88%;
            }
        }
    }
}

.proj-summary-page {
    padding: 0px;

    -webkit-box-shadow:0 1px 20px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 20px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 20px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    .mockup {
        pointer-events: all;
        position: relative;
        width: 50%;
        // max-height: 50vh;
        min-height: 100%;
        overflow: hidden;
        .mockup-image {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: auto;
            transform: translate(-50%, -50%);
            transition: 0.5s;
            opacity: 0.25;

            mask-image: -webkit-gradient(linear, right top, left top, color-stop(0%, rgba(0,0,0,0.5)), color-stop(20%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
            -webkit-mask-image: -webkit-gradient(linear, right top, left top, color-stop(0%, rgba(0,0,0,0.5)), color-stop(20%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
        }
        .mockup-logo {
            position: absolute;
            left: 24px;
            bottom: 12px;
            width: 148px;
            height: auto;
            opacity: 0.5;
            transition: 0.5s;
            transition-timing-function: $lightsnapandeaseout;
        }
        &::before, &::after {
            content: '';
            position: absolute;
            height: 35%;
            right: 0px;
            top: 0px;
        }
        &::after {
            width: 4px;
            background-color: white;
        }
        &::before {
            height: 50%;
            border: 2px dashed white;
        }
        &:hover {
            .mockup-image {
                opacity: 0.4;
            }
            .mockup-logo {
                bottom: 24px;
                opacity: 0.65;
            }
        }
    }
    .summary-content {
        position: relative;
        width: 50%;
        .summary-header {
            font-size: 24px;
            text-align: right;
            &::after {
                background-color: $seccolor;
                opacity: 1;
                left: auto;
                right: $defaultpadding;
                bottom: auto;
                top: -12px;
            }
        }
        .summary-paragraph {
            margin-top: 180px;
            p {
                font-family: 'Raleway Dots', sans-serif;
                font-weight: 800;
            }
        }
        .summary-header,
        .summary-paragraph p {
            margin-left: 48px;
            padding-right: 48px;
        }
        .time {
            font-family: 'DM Sans', sans-serif;
            position: absolute;
            top: 64px;
            left: 52px;
            font-size: 32px;
            opacity: 0.125;
        }
    }
}

.play-ad-page {
    height: 60vh;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(2deg);
        background-color: $darkblack;
        width: 120vw;
        height: 60%;
        z-index: -3;
    }
    .header-logo {
        position: absolute;
        width: 420px;
        left: 96px;
        // top: -112px;
        top: 46%;
        transform: translateY(-50%);
        img {
            opacity: 0.8;
            $blk: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: auto;
            -webkit-filter: drop-shadow(15px 10px 5px $blk);
            filter: drop-shadow(15px 10px 5px $blk);
        }
    }
    .ad-decorator {
        position: absolute;
        height: 105%;
        top: 40%;
        right: -24px;
        transform: translateY(-50%) rotate(-5deg);
        z-index: -1;
        img {
            pointer-events: all;
            height: 100%;
            width: auto;
            opacity: 0.6;
            transition: 1s;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .playable-ad {
        position: absolute;
        // border: 2px dashed red;
        right: 148px;
        top: -12px;
        transform: rotate(2deg);
        // opacity: 0.5;
        // transition: 2s;
        transition: 0.5s;
        transition-timing-function: cubic-bezier(.55,-0.01,.41,1);;
        filter: brightness(0.5) grayscale(50%);
        .player-bg {
            height: 700px;
            // border: 2px solid greenyellow;
            img {
                height: 100%;
                width: auto;
            }
        }
        .ad-iframe {
            pointer-events: all;
            position: absolute;
            height: 530px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // overflow: hidden;
        }
        &:hover {
            // transition: transform 0.25s all 1s;
            transition: 0.35s;
            transition-timing-function: cubic-bezier(.82,1.6,.35,.89);
            //cubic-bezier(.55,-0.01,.41,1);
            filter: brightness(1);
            transform: rotate(1.5deg);
            // opacity: 1;
        }
    }
    .ad-info {
        pointer-events: all;
        position: absolute;
        right: 612px;
        width: 50%;
        text-align: right;
        // top: 96px;
        top: 50%;
        transform: translateY(-70%);
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -24px;
            height: 80%;
            width: 4px;
            background-color: white;
            opacity: 0.5;
            transform: translateY(-50%);
            border-radius: 50%;
            transition: 0.5s;
            transition-timing-function: cubic-bezier(.4,-0.5,0,1.75);
        }
        .header,
        .project-header,
        .project-desc {
            transition: 0.5s;
            transition-timing-function: $lightsnapandeaseout;
        }
        .header {
            font-family: 'Raleway Dots', sans-serif;
            opacity: 0.8;
        }
        .project-header {
            font-family: 'Questrial', sans-serif;
            margin-bottom: 48px;
            opacity: 0.25;
        }
        .project-desc {
            font-family: 'Raleway Dots', sans-serif;
            font-weight: 800;
            width: 480px;
            float: right;
            opacity: 0.5;
        }
        &:hover {
            .header,
            .project-header,
            .project-desc {
                margin-right: 9px;
            }
            &::after {
                opacity: 0.2;
                transform: translate(3px, -50%);
                height: 100%;
                border-radius: 4px;
                // background-color: $seccolor;
            }
        }
    }
}

.other-ads-page {
    position: relative;
    margin-top: -24px;
    &:before {
        content: '';
        position: absolute;
        height: 60%;
        width: 120vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: $darkblack
    }
    .other-header {
        position: absolute;
        right: $contentboxpadding;
        top: 96px;
        transform: translateY(100%);
        h2 {
            opacity: 0.5;
            // text-transform: uppercase;
            font-family: 'Raleway Dots', sans-serif;
        }
    }
    .other-holder {
        position: relative;
        height: 360px;
        display: flex;
        flex-direction: row;
        margin-top: 96px;
        .other-row {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-end;
            .other-cell {
                pointer-events: all;
                width: 175px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0px 12px;
                img {
                    width: 100%;
                    height: auto;
                    opacity: 0.35;
                    transition: 1s;
                }
                &.active {
                    img {
                        opacity: 1;
                    }
                }
                &:hover {
                    cursor: pointer;
                    img {
                        transition: 0.75s;
                        transition-timing-function: $lightsnapandeaseout;
                        opacity: 0.85;
                    }
                }
            }
        }
        .other-showcase {
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translateY(-50%) rotate(-1.5deg);
            width: 360px;
            height: 100%;
            filter: brightness(60%) grayscale(20%);
            transition: 1s;
            transition-timing-function: $smoothdoubleease;
            transition-delay: filter 0.5s;
            &:hover {
                transition-delay: 0s;
                filter: brightness(100%);
            }
            .other-showcase-container {
                position: absolute;
                width: 100%;
                height: 200px;
                transform: translateY(-50%);
                .other-showcase-cell {
                    pointer-events: all;
                    position: absolute;
                    // border: 1px dashed yellow;
                    width: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: 0.25s;
                    transition-timing-function: cubic-bezier(.55,-0.01,.41,1);
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
                    }
                    &.active {
                        z-index: 999;
                    }
                    // &.active {
                    //     &::after {
                    //         content: '';
                    //         position: absolute;
                    //         left: 0px;
                    //         top: 0px;
                    //         width: 100%;
                    //         height: 100%;
                    //         pointer-events: all !important;
                    //         border: 2px dashed red;
                    //         z-index: 999;
                    //     }
                    // }
                    &:not(.active) {
                        transition: 0.5s;
                        transition-timing-function: $lightsnapandeaseout;
                        transform: translateX(-50%) scale(0.9);
                        filter: brightness(30%);
                        z-index: -1;
                        img {
                            border-radius: 15px;
                            box-shadow: none;
                        }
                        &.left {
                            left: 35%;
                            &:hover {
                                left: 33%;
                            }
                        }
                        &.right {
                            left: 65%;
                            &:hover {
                                left: 67%;
                            }
                        }
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            &:not(.active) {
                pointer-events: none !important;
                * {
                    pointer-events: none !important;
                }
                opacity: 0;
                top: 55%;
                transition: 0.5s;
                transition-delay: 0s;
            }
        }
    }
}

#skillset-toolbox {
    margin-top: -224px;
}
.skillset-toolbox {
    margin-top: -24px;
}