@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Fredoka+One&&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Emblema+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=NTR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
.proj-header-page .proj-header-image img {
  top: -40%;
  transform: translate(-50%, 0%);
  transition: 1s;
  transition-timing-function: cubic-bezier(0.55, -0.01, 0.41, 1);
}
.proj-header-page .proj-header-image:hover img {
  transition: 6s;
  top: -88%;
}

.proj-summary-page {
  padding: 0px;
  -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.proj-summary-page .mockup {
  pointer-events: all;
  position: relative;
  width: 50%;
  min-height: 100%;
  overflow: hidden;
}
.proj-summary-page .mockup .mockup-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  opacity: 0.25;
  mask-image: -webkit-gradient(linear, right top, left top, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(20%, black), color-stop(100%, black));
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(20%, black), color-stop(100%, black));
}
.proj-summary-page .mockup .mockup-logo {
  position: absolute;
  left: 24px;
  bottom: 12px;
  width: 148px;
  height: auto;
  opacity: 0.5;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.07, 0.75, 0.32, 0.96);
}
.proj-summary-page .mockup::before, .proj-summary-page .mockup::after {
  content: "";
  position: absolute;
  height: 35%;
  right: 0px;
  top: 0px;
}
.proj-summary-page .mockup::after {
  width: 4px;
  background-color: white;
}
.proj-summary-page .mockup::before {
  height: 50%;
  border: 2px dashed white;
}
.proj-summary-page .mockup:hover .mockup-image {
  opacity: 0.4;
}
.proj-summary-page .mockup:hover .mockup-logo {
  bottom: 24px;
  opacity: 0.65;
}
.proj-summary-page .summary-content {
  position: relative;
  width: 50%;
}
.proj-summary-page .summary-content .summary-header {
  font-size: 24px;
  text-align: right;
}
.proj-summary-page .summary-content .summary-header::after {
  background-color: #ed1c25;
  opacity: 1;
  left: auto;
  right: 40px;
  bottom: auto;
  top: -12px;
}
.proj-summary-page .summary-content .summary-paragraph {
  margin-top: 180px;
}
.proj-summary-page .summary-content .summary-paragraph p {
  font-family: "Raleway Dots", sans-serif;
  font-weight: 800;
}
.proj-summary-page .summary-content .summary-header,
.proj-summary-page .summary-content .summary-paragraph p {
  margin-left: 48px;
  padding-right: 48px;
}
.proj-summary-page .summary-content .time {
  font-family: "DM Sans", sans-serif;
  position: absolute;
  top: 64px;
  left: 52px;
  font-size: 32px;
  opacity: 0.125;
}

.play-ad-page {
  height: 60vh;
  position: relative;
}
.play-ad-page::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(2deg);
  background-color: #171717;
  width: 120vw;
  height: 60%;
  z-index: -3;
}
.play-ad-page .header-logo {
  position: absolute;
  width: 420px;
  left: 96px;
  top: 46%;
  transform: translateY(-50%);
}
.play-ad-page .header-logo img {
  opacity: 0.8;
  width: 100%;
  height: auto;
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}
.play-ad-page .ad-decorator {
  position: absolute;
  height: 105%;
  top: 40%;
  right: -24px;
  transform: translateY(-50%) rotate(-5deg);
  z-index: -1;
}
.play-ad-page .ad-decorator img {
  pointer-events: all;
  height: 100%;
  width: auto;
  opacity: 0.6;
  transition: 1s;
}
.play-ad-page .ad-decorator img:hover {
  opacity: 0.8;
}
.play-ad-page .playable-ad {
  position: absolute;
  right: 148px;
  top: -12px;
  transform: rotate(2deg);
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.55, -0.01, 0.41, 1);
  filter: brightness(0.5) grayscale(50%);
}
.play-ad-page .playable-ad .player-bg {
  height: 700px;
}
.play-ad-page .playable-ad .player-bg img {
  height: 100%;
  width: auto;
}
.play-ad-page .playable-ad .ad-iframe {
  pointer-events: all;
  position: absolute;
  height: 530px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.play-ad-page .playable-ad:hover {
  transition: 0.35s;
  transition-timing-function: cubic-bezier(0.82, 1.6, 0.35, 0.89);
  filter: brightness(1);
  transform: rotate(1.5deg);
}
.play-ad-page .ad-info {
  pointer-events: all;
  position: absolute;
  right: 612px;
  width: 50%;
  text-align: right;
  top: 50%;
  transform: translateY(-70%);
}
.play-ad-page .ad-info::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  height: 80%;
  width: 4px;
  background-color: white;
  opacity: 0.5;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.4, -0.5, 0, 1.75);
}
.play-ad-page .ad-info .header,
.play-ad-page .ad-info .project-header,
.play-ad-page .ad-info .project-desc {
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.07, 0.75, 0.32, 0.96);
}
.play-ad-page .ad-info .header {
  font-family: "Raleway Dots", sans-serif;
  opacity: 0.8;
}
.play-ad-page .ad-info .project-header {
  font-family: "Questrial", sans-serif;
  margin-bottom: 48px;
  opacity: 0.25;
}
.play-ad-page .ad-info .project-desc {
  font-family: "Raleway Dots", sans-serif;
  font-weight: 800;
  width: 480px;
  float: right;
  opacity: 0.5;
}
.play-ad-page .ad-info:hover .header,
.play-ad-page .ad-info:hover .project-header,
.play-ad-page .ad-info:hover .project-desc {
  margin-right: 9px;
}
.play-ad-page .ad-info:hover::after {
  opacity: 0.2;
  transform: translate(3px, -50%);
  height: 100%;
  border-radius: 4px;
}

.other-ads-page {
  position: relative;
}
.other-ads-page:before {
  content: "";
  position: absolute;
  height: 60%;
  width: 120vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #171717;
}
.other-ads-page .other-header {
  position: absolute;
  right: 200px;
  top: 96px;
  transform: translateY(100%);
}
.other-ads-page .other-header h2 {
  opacity: 0.5;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}
.other-ads-page .other-holder {
  position: relative;
  height: 360px;
  display: flex;
  flex-direction: row;
  margin-top: 96px;
}
.other-ads-page .other-holder .other-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}
.other-ads-page .other-holder .other-row .other-cell {
  pointer-events: all;
  width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 12px;
}
.other-ads-page .other-holder .other-row .other-cell img {
  width: 100%;
  height: auto;
  opacity: 0.35;
  transition: 1s;
}
.other-ads-page .other-holder .other-row .other-cell:hover {
  cursor: pointer;
}
.other-ads-page .other-holder .other-row .other-cell:hover img {
  transition: 0.75s;
  transition-timing-function: cubic-bezier(0.07, 0.75, 0.32, 0.96);
  opacity: 0.85;
}
.other-ads-page .other-holder .other-showcase {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%) rotate(-1.5deg);
  width: 360px;
  height: 100%;
  filter: brightness(60%) grayscale(20%);
  transition: 1s;
  transition-timing-function: cubic-bezier(0.55, -0.01, 0.41, 1);
  transition-delay: filter 0.5s;
}
.other-ads-page .other-holder .other-showcase:hover {
  transition-delay: 0s;
  filter: brightness(100%);
}
.other-ads-page .other-holder .other-showcase .other-showcase-container {
  position: absolute;
  width: 100%;
  height: 200px;
  transform: translateY(-50%);
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell {
  pointer-events: all;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.55, -0.01, 0.41, 1);
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell:not(.active) {
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.07, 0.75, 0.32, 0.96);
  transform: translateX(-50%) scale(0.9);
  filter: brightness(30%);
  z-index: -1;
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell:not(.active) img {
  border-radius: 15px;
  box-shadow: none;
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell:not(.active).left {
  left: 35%;
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell:not(.active).left:hover {
  left: 33%;
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell:not(.active).right {
  left: 65%;
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell:not(.active).right:hover {
  left: 67%;
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell:not(.active):hover {
  cursor: pointer;
}
.other-ads-page .other-holder .other-showcase:not(.active) {
  opacity: 0;
  top: 55%;
  transition: 0.5s;
  transition-delay: 0s;
}

/*# sourceMappingURL=tilting.css.map */
