@import '../../styles/vars.scss';
@import '../../styles/pro-summary.scss';
@import '../../styles/play-ad.scss';

$seccolor: #ed1c25;

.proj-header-page {
    height: 50vh;
    .proj-header-image {
        img {
            top: -40%;
            transform: translate(-50%, 0%);
            transition: 1s;
            transition-timing-function: cubic-bezier(.55,-0.01,.41,1);
        }
        &:hover {
            img {
                transition: 6s;
                top: -88%;
            }
        }
    }
}

.proj-summary-page {
    .summary-paragraph {
        p {
            line-height: 48px;
        }
    }
}

.play-ad-page {
    height: 60vh;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(2deg);
        background-color: $darkblack;
        width: 120vw;
        height: 60%;
        z-index: -3;
    }
    .header-logo {
        position: absolute;
        width: 420px;
        left: 96px;
        // top: -112px;
        top: 46%;
        transform: translateY(-50%);
        img {
            opacity: 0.8;
            $blk: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: auto;
            -webkit-filter: drop-shadow(15px 10px 5px $blk);
            filter: drop-shadow(15px 10px 5px $blk);
        }
    }
    .ad-decorator {
        position: absolute;
        height: 105%;
        top: 40%;
        right: -24px;
        transform: translateY(-50%) rotate(-5deg);
        z-index: -1;
        img {
            pointer-events: all;
            height: 100%;
            width: auto;
            opacity: 0.6;
            transition: 1s;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.other-ads-page {
    position: relative;
    margin-top: 96px;
    margin-bottom: 192px;
    &:before {
        content: '';
        position: absolute;
        height: 60%;
        width: 120vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: $darkblack
    }
    .other-header {
        position: absolute;
        right: $contentboxpadding;
        top: 96px;
        transform: translateY(100%);
        h2 {
            opacity: 0.5;
            // text-transform: uppercase;
            font-family: 'Raleway Dots', sans-serif;
        }
    }
    .other-holder {
        position: relative;
        height: 360px;
        display: flex;
        flex-direction: row;
        margin-top: 96px;
        .other-row {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-end;
            .other-cell {
                pointer-events: all;
                width: 175px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0px 12px;
                img {
                    width: 100%;
                    height: auto;
                    opacity: 0.35;
                    transition: 1s;
                }
                &.active {
                    img {
                        opacity: 1;
                    }
                }
                &:hover {
                    cursor: pointer;
                    img {
                        transition: 0.75s;
                        transition-timing-function: $lightsnapandeaseout;
                        opacity: 0.85;
                    }
                }
            }
        }
        .other-showcase {
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translateY(-50%) rotate(-1.5deg);
            width: 360px;
            height: 100%;
            filter: brightness(60%) grayscale(20%);
            transition: 1s;
            transition-timing-function: $smoothdoubleease;
            transition-delay: filter 0.5s;
            &:hover {
                transition-delay: 0s;
                filter: brightness(100%);
            }
            .other-showcase-container {
                position: absolute;
                width: 100%;
                height: 200px;
                transform: translateY(-50%);
                .other-showcase-cell {
                    pointer-events: all;
                    position: absolute;
                    // border: 1px dashed yellow;
                    width: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: 0.25s;
                    transition-timing-function: cubic-bezier(.55,-0.01,.41,1);
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
                    }
                    &.active {
                        z-index: 999;
                    }
                    // &.active {
                    //     &::after {
                    //         content: '';
                    //         position: absolute;
                    //         left: 0px;
                    //         top: 0px;
                    //         width: 100%;
                    //         height: 100%;
                    //         pointer-events: all !important;
                    //         border: 2px dashed red;
                    //         z-index: 999;
                    //     }
                    // }
                    &:not(.active) {
                        transition: 0.5s;
                        transition-timing-function: $lightsnapandeaseout;
                        transform: translateX(-50%) scale(0.9);
                        filter: brightness(30%);
                        z-index: -1;
                        img {
                            border-radius: 15px;
                            box-shadow: none;
                        }
                        &.left {
                            left: 35%;
                            &:hover {
                                left: 33%;
                            }
                        }
                        &.right {
                            left: 65%;
                            &:hover {
                                left: 67%;
                            }
                        }
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            &:not(.active) {
                pointer-events: none !important;
                * {
                    pointer-events: none !important;
                }
                opacity: 0;
                top: 55%;
                transition: 0.5s;
                transition-delay: 0s;
            }
        }
    }
}

#skillset-toolbox {
    margin-top: -224px;
}
.skillset-toolbox {
    margin-top: -24px;
}

@media (orientation: portrait) {
    .proj-header-page {
        height: 20vh;
        .proj-header-image {
            img {
                top: 50%;
                height: auto;
                width: 100%;
                opacity: 0.8;
                transform: translate(-50%, -50%) scale(1.3);
            }
            &:hover {
                img {
                    top: 50%;
                }
            }
        }
        .proj-header {
            h2 {
                font-size: 5vw;
            }
            img {
                width: 40vw;
            }
        }
    }
    .proj-summary-page {
        .summary-content {
            width: 100%;
            .summary-paragraph {
                line-height: 42px;
            }
        }
    }
}

@media (max-width: $breakpoint-narrow) {
    .proj-header {
        img {
            width: 80vw !important;
        }
    }
    .proj-summary-page {
        .summary-content {
            .time {
                left: 50% !important;
                right: auto !important;
                transform: translateX(-50%) !important;
            }
            .summary-header {
                display: none;
            }
            .summary-paragraph {
                line-height: 32px;
            }
        }
    }
}

@media (max-width: $breakpoint-phone) {
    .proj-summary-page {
        .summary-content {
            .time {
                font-size: 24px;
                transform: translateY(100%);
                left: auto;
                right: $defaultpaddingportrait;
            }
            .summary-header {
                margin-left: $defaultpaddingportrait;
                padding-right: $defaultpaddingportrait;
            }
            .summary-paragraph {
                p {
                    text-align: center;
                    margin-left: $defaultpaddingportrait;
                    padding-right: $defaultpaddingportrait;
                }
                margin-bottom: 148px;
            }
        }
    }
    .proj-header {
        img {
            width: 70vw;
        }
    }
    .play-ad-page {
        height: 130vh;
    }
    .playable-ad {
        top: 50%;
        right: auto;
        left: 58%;
        $scl: 1.15;
        transform: rotate(1deg) scale($scl) translate(-50%, -50%);
        opacity: 1;
        &:hover {
            transform: rotate(1deg) scale($scl) translate(-50%, -50%);
        }
    }
}
