@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Fredoka+One&&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Emblema+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=NTR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Fredoka+One&&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Emblema+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=NTR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
.proj-summary-page {
  padding: 0px;
}
.proj-summary-page .mockup {
  pointer-events: all;
  position: relative;
  width: 50%;
  min-height: 100%;
  overflow: hidden;
}
.proj-summary-page .mockup .mockup-image {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-height: 100%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  opacity: 0.25;
  mask-image: -webkit-gradient(linear, right top, left top, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(20%, black), color-stop(100%, black));
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(20%, black), color-stop(100%, black));
}
.proj-summary-page .mockup::before, .proj-summary-page .mockup::after {
  content: "";
  position: absolute;
  height: 35%;
  right: 0px;
  top: 0px;
}
.proj-summary-page .mockup::after {
  width: 4px;
  background-color: white;
}
.proj-summary-page .mockup::before {
  height: 50%;
  border: 2px dashed white;
}
.proj-summary-page .mockup:hover .mockup-image {
  opacity: 0.4;
}
.proj-summary-page .mockup:hover .mockup-logo {
  bottom: 24px;
  opacity: 0.65;
}
.proj-summary-page .summary-content {
  width: 50%;
}
.proj-summary-page .summary-content .summary-header {
  font-size: 24px;
  text-align: right;
}
.proj-summary-page .summary-content .summary-header::after {
  background-color: white;
  opacity: 1;
  left: auto;
  right: 40px;
  bottom: auto;
  top: -12px;
}
.proj-summary-page .summary-content .summary-paragraph {
  margin-top: 180px;
}
.proj-summary-page .summary-content .summary-header,
.proj-summary-page .summary-content .summary-paragraph p {
  margin-left: 48px;
  padding-right: 48px;
}
.proj-summary-page .summary-content .time {
  right: auto;
  left: 52px;
}

.play-ad-page {
  height: 60vh;
  position: relative;
}
.play-ad-page .ad-info {
  pointer-events: all;
  position: absolute;
  right: 612px;
  width: 50%;
  text-align: right;
  top: 50%;
  transform: translateY(-70%);
}
.play-ad-page .ad-info::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  height: 80%;
  width: 4px;
  background-color: white;
  opacity: 0.5;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.4, -0.5, 0, 1.75);
}
.play-ad-page .ad-info .header,
.play-ad-page .ad-info .project-header,
.play-ad-page .ad-info .project-desc {
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.07, 0.75, 0.32, 0.96);
}
.play-ad-page .ad-info .header {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  opacity: 0.8;
}
.play-ad-page .ad-info .project-header {
  font-family: "Questrial", sans-serif;
  margin-bottom: 48px;
  opacity: 0.25;
}
.play-ad-page .ad-info .project-desc {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  width: 480px;
  float: right;
  opacity: 0.5;
}
.play-ad-page .ad-info:hover .header,
.play-ad-page .ad-info:hover .project-header,
.play-ad-page .ad-info:hover .project-desc {
  margin-right: 9px;
}
.play-ad-page .ad-info:hover::after {
  opacity: 0.2;
  transform: translate(3px, -50%);
  height: 100%;
  border-radius: 4px;
}

.playable-ad {
  position: absolute;
  right: 148px;
  top: -12px;
  transform: rotate(2deg);
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.55, -0.01, 0.41, 1);
  filter: brightness(0.5) grayscale(50%);
  z-index: 3;
}
.playable-ad .player-bg {
  height: 700px;
}
.playable-ad .player-bg img {
  height: 100%;
  width: auto;
}
.playable-ad .ad-iframe {
  pointer-events: all;
  position: absolute;
  height: 530px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.playable-ad:hover {
  opacity: 1;
  transition: 0.35s;
  transition-timing-function: cubic-bezier(0.82, 1.6, 0.35, 0.89);
  filter: brightness(1);
  transform: rotate(1.5deg);
}

.proj-header-page {
  height: 50vh;
}
.proj-header-page .proj-header-image img {
  top: -40%;
  transform: translate(-50%, 0%);
  transition: 1s;
  transition-timing-function: cubic-bezier(0.55, -0.01, 0.41, 1);
}
.proj-header-page .proj-header-image:hover img {
  transition: 6s;
  top: -88%;
}

.proj-summary-page .summary-paragraph {
  margin-top: 72px !important;
}
.proj-summary-page .summary-paragraph p {
  font-size: 18px;
  line-height: 40px;
}

.play-ad-page {
  height: 60vh;
  position: relative;
}
.play-ad-page::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(2deg);
  background-color: #171717;
  width: 120vw;
  height: 60%;
  z-index: -3;
}
.play-ad-page .header-logo {
  position: absolute;
  width: 420px;
  left: 96px;
  top: 46%;
  transform: translateY(-50%);
}
.play-ad-page .header-logo img {
  opacity: 0.8;
  width: 100%;
  height: auto;
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}
.play-ad-page .ad-decorator {
  position: absolute;
  height: 105%;
  top: 40%;
  right: -24px;
  transform: translateY(-50%) rotate(-5deg);
  z-index: -1;
}
.play-ad-page .ad-decorator img {
  pointer-events: all;
  height: 100%;
  width: auto;
  opacity: 0.6;
  transition: 1s;
}
.play-ad-page .ad-decorator img:hover {
  opacity: 0.8;
}

.other-ads-page {
  position: relative;
  margin-top: 96px;
  margin-bottom: 192px;
}
.other-ads-page:before {
  content: "";
  position: absolute;
  height: 60%;
  width: 120vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #171717;
}
.other-ads-page .other-header {
  position: absolute;
  right: 200px;
  top: 96px;
  transform: translateY(100%);
}
.other-ads-page .other-header h2 {
  opacity: 0.5;
  font-family: "Raleway", sans-serif;
}
.other-ads-page .other-holder {
  position: relative;
  height: 360px;
  display: flex;
  flex-direction: row;
  margin-top: 96px;
}
.other-ads-page .other-holder .other-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}
.other-ads-page .other-holder .other-row .other-cell {
  pointer-events: all;
  width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 12px;
}
.other-ads-page .other-holder .other-row .other-cell img {
  width: 100%;
  height: auto;
  opacity: 0.35;
  transition: 1s;
}
.other-ads-page .other-holder .other-row .other-cell.active img {
  opacity: 1;
}
.other-ads-page .other-holder .other-row .other-cell:hover {
  cursor: pointer;
}
.other-ads-page .other-holder .other-row .other-cell:hover img {
  transition: 0.75s;
  transition-timing-function: cubic-bezier(0.07, 0.75, 0.32, 0.96);
  opacity: 0.85;
}
.other-ads-page .other-holder .other-showcase {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%) rotate(-1.5deg);
  width: 360px;
  height: 100%;
  filter: brightness(60%) grayscale(20%);
  transition: 1s;
  transition-timing-function: cubic-bezier(0.55, -0.01, 0.41, 1);
  transition-delay: filter 0.5s;
}
.other-ads-page .other-holder .other-showcase:hover {
  transition-delay: 0s;
  filter: brightness(100%);
}
.other-ads-page .other-holder .other-showcase .other-showcase-container {
  position: absolute;
  width: 100%;
  height: 200px;
  transform: translateY(-50%);
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell {
  pointer-events: all;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.55, -0.01, 0.41, 1);
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell.active {
  z-index: 999;
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell:not(.active) {
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.07, 0.75, 0.32, 0.96);
  transform: translateX(-50%) scale(0.9);
  filter: brightness(30%);
  z-index: -1;
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell:not(.active) img {
  border-radius: 15px;
  box-shadow: none;
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell:not(.active).left {
  left: 35%;
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell:not(.active).left:hover {
  left: 33%;
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell:not(.active).right {
  left: 65%;
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell:not(.active).right:hover {
  left: 67%;
}
.other-ads-page .other-holder .other-showcase .other-showcase-container .other-showcase-cell:not(.active):hover {
  cursor: pointer;
}
.other-ads-page .other-holder .other-showcase:not(.active) {
  pointer-events: none !important;
  opacity: 0;
  top: 55%;
  transition: 0.5s;
  transition-delay: 0s;
}
.other-ads-page .other-holder .other-showcase:not(.active) * {
  pointer-events: none !important;
}

#skillset-toolbox {
  margin-top: -224px;
}

.skillset-toolbox {
  margin-top: -24px;
}

.mobile-try-it-header {
  display: none;
  position: absolute;
  top: calc(40px * -4);
  left: 20px;
  z-index: 99;
}
.mobile-try-it-header h2 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
}
.mobile-try-it-header h3 {
  margin-top: 10px;
  font-family: "Inconsolata";
}
.mobile-try-it-header::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0px;
  width: 80%;
  height: 4px;
  background-color: white;
  transform: translateY(-50%);
  opacity: 0.5;
}

.mobile-open-button {
  display: none;
  pointer-events: all;
  position: absolute;
  width: 64px;
  top: 25%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 99;
  opacity: 0.6;
  transition: 0.5s;
}
.mobile-open-button::after {
  content: "";
  position: absolute;
  top: -12px;
  right: -12px;
  width: 0%;
  height: 0%;
  border: 0px solid white;
  border-bottom: none;
  border-left: none;
  transition: width 0.5s, height 0.5s;
  transition-timing-function: cubic-bezier(0.74, 0, 0.48, 1.01);
}
.mobile-open-button img {
  width: 100%;
  height: auto;
}
.mobile-open-button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.mobile-open-button:hover::after {
  border-width: 7px;
  width: 75%;
  height: 75%;
}

@media (max-width: 1620px) {
  .header-logo {
    display: none;
  }

  .other-row {
    position: absolute;
    flex-wrap: wrap;
    width: 50% !important;
    right: 0px;
  }
  .other-row .other-cell {
    width: auto;
    height: 240px;
  }
  .other-row .other-cell img {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 1200px) {
  .other-header {
    margin-top: -96px;
    z-index: 999;
  }

  .other-row {
    transform: translateY(-10%);
  }
  .other-row .other-cell {
    height: 160px;
  }
}
@media (orientation: portrait) {
  .proj-header-page {
    height: 20vh;
  }
  .proj-header-page .proj-header-image img {
    top: 50%;
    height: auto;
    width: 100%;
    opacity: 0.8;
    transform: translate(-50%, -50%) scale(1.3);
  }
  .proj-header-page .proj-header-image:hover img {
    top: 50%;
  }
  .proj-header-page .proj-header h2 {
    font-size: 5vw;
  }
  .proj-header-page .proj-header img {
    width: 40vw;
  }

  .proj-summary-page .summary-content {
    width: 100%;
  }
  .proj-summary-page .summary-content .summary-paragraph {
    line-height: 42px;
  }

  .mobile-try-it-header {
    display: block;
  }

  .mobile-open-button {
    display: block;
  }

  .ad-info {
    display: none;
  }

  .play-ad-page {
    height: 90vh;
    margin-top: 240px;
  }
  .play-ad-page .header-logo {
    display: block !important;
    left: -96px;
    top: 15%;
    opacity: 0.5;
    transform: translateY(-50%) rotate(-35deg);
  }
  .play-ad-page .playable-ad {
    transform: scale(1.25);
    right: 25%;
    filter: brightness(0.9) grayscale(15%);
  }
  .play-ad-page::after {
    top: 30%;
    background-color: #171717;
    width: 120vw;
    height: 60%;
    z-index: -3;
  }

  .skillset-toolbox {
    margin-top: 64px;
  }

  .other-ads-page {
    margin-top: 0px;
    margin-bottom: 300px;
    overflow: visible;
  }
  .other-ads-page .other-row {
    position: relative;
    flex-wrap: nowrap;
    width: 100% !important;
  }
  .other-ads-page .other-row .other-cell {
    width: auto;
    height: 240px;
  }
  .other-ads-page .other-row .other-cell img {
    width: auto;
    height: 100%;
  }
  .other-ads-page .other-holder {
    height: 360px;
    margin-top: 48px;
    overflow: visible;
  }
  .other-ads-page .other-holder .other-cell {
    width: 175px;
    height: auto;
  }
  .other-ads-page .other-holder .other-cell img {
    height: 100%;
    width: auto;
  }
  .other-ads-page .other-holder .other-showcase {
    overflow: visible;
    left: 50%;
    top: 100%;
    filter: brightness(100%);
    transform: translateX(-50%);
  }
  .other-ads-page .other-header {
    right: 20px;
  }
  .other-ads-page::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -300px;
    width: 90%;
    height: 4px;
    transform: translateX(-50%);
    background-color: white;
    opacity: 0.5;
    mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(10%, black), color-stop(50%, black), color-stop(90%, black), color-stop(100%, rgba(0, 0, 0, 0)));
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(10%, black), color-stop(50%, black), color-stop(90%, black), color-stop(100%, rgba(0, 0, 0, 0)));
  }
}
@media (max-width: 480px) {
  .proj-header img {
    width: 80vw !important;
  }

  .proj-summary-page .summary-content .time {
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, 100%) !important;
  }
  .proj-summary-page .summary-content .summary-header {
    display: none;
  }
  .proj-summary-page .summary-content .summary-paragraph {
    line-height: 32px;
  }

  .mobile-open-button {
    opacity: 0.5;
    overflow: visible;
    transition: 0.5s;
  }
  .mobile-open-button img {
    position: relative;
    z-index: 2;
  }
  .mobile-open-button::before {
    content: "";
    position: absolute;
    width: 84px;
    height: 84px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background-color: #171717;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.5;
  }
  .mobile-open-button:active {
    opacity: 1;
  }

  .play-ad-page .header-logo {
    opacity: 0.25;
  }
}
@media (max-width: 680px) {
  .proj-summary-page .summary-content .time {
    font-size: 24px;
    transform: translateY(100%);
    left: auto;
    right: 20px;
  }
  .proj-summary-page .summary-content .summary-header {
    margin-left: 20px;
    padding-right: 20px;
  }
  .proj-summary-page .summary-content .summary-paragraph {
    margin-bottom: 148px;
  }
  .proj-summary-page .summary-content .summary-paragraph p {
    font-size: 18px;
    text-align: center;
    margin-left: 20px;
    padding-right: 20px;
  }

  .proj-header img {
    width: 70vw;
  }

  .mobile-try-it-header {
    top: calc(40px * 2);
  }

  .mobile-open-button {
    top: 45%;
  }

  .play-ad-page {
    height: 130vh;
    margin-top: 12px;
  }

  .playable-ad {
    top: 50%;
    right: auto !important;
    left: 58% !important;
    transform: rotate(1deg) scale(1.15) translate(-50%, -50%) !important;
    opacity: 1;
  }
  .playable-ad:hover {
    transform: rotate(1deg) scale(1.15) translate(-50%, -50%);
  }
}

/*# sourceMappingURL=tilting.css.map */
