@import '../../styles/vars.scss';

$seccolor: #ed1c25;

.proj-header-page {
    .proj-header-image {
        img {
            top: -40%;
            transform: translate(-50%, 0%);
            transition: 1s;
            transition-timing-function: cubic-bezier(.55,-0.01,.41,1);
        }
        &:hover {
            img {
                transition: 6s;
                top: -88%;
            }
        }
    }
}

.proj-summary-page {
    padding: 0px;

    -webkit-box-shadow:0 1px 20px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 20px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 20px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    .mockup {
        pointer-events: all;
        position: relative;
        width: 50%;
        // max-height: 50vh;
        min-height: 100%;
        overflow: hidden;
        .mockup-image {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: auto;
            transform: translate(-50%, -50%);
            transition: 0.5s;
            opacity: 0.25;

            mask-image: -webkit-gradient(linear, right top, left top, color-stop(0%, rgba(0,0,0,0.5)), color-stop(20%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
            -webkit-mask-image: -webkit-gradient(linear, right top, left top, color-stop(0%, rgba(0,0,0,0.5)), color-stop(20%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
        }
        .mockup-logo {
            position: absolute;
            left: 24px;
            bottom: 12px;
            width: 148px;
            height: auto;
            opacity: 0.5;
            transition: 0.5s;
            transition-timing-function: $lightsnapandeaseout;
        }
        &::before, &::after {
            content: '';
            position: absolute;
            height: 35%;
            right: 0px;
            top: 0px;
        }
        &::after {
            width: 4px;
            background-color: white;
        }
        &::before {
            height: 50%;
            border: 2px dashed white;
        }
        &:hover {
            .mockup-image {
                opacity: 0.4;
            }
            .mockup-logo {
                bottom: 24px;
                opacity: 0.65;
            }
        }
    }
    .summary-content {
        position: relative;
        width: 50%;
        .summary-header {
            font-size: 24px;
            text-align: right;
            &::after {
                background-color: $seccolor;
                opacity: 1;
                left: auto;
                right: $defaultpadding;
                bottom: auto;
                top: -12px;
            }
        }
        .summary-paragraph {
            margin-top: 180px;
            p {
                font-family: 'Raleway Dots', sans-serif;
                font-weight: 800;
            }
        }
        .summary-header,
        .summary-paragraph p {
            margin-left: 48px;
            padding-right: 48px;
        }
        .time {
            font-family: 'DM Sans', sans-serif;
            position: absolute;
            top: 64px;
            left: 52px;
            font-size: 32px;
            opacity: 0.125;
        }
    }
}

.play-ad-page {
    height: 60vh;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(2deg);
        background-color: $darkblack;
        width: 120vw;
        height: 50%;
        z-index: -3;
    }
    .header-logo {
        position: absolute;
        width: 324px;
        left: 96px;
        top: -112px;
        img {
            opacity: 0.8;
            $blk: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: auto;
            -webkit-filter: drop-shadow(15px 10px 5px $blk);
            filter: drop-shadow(15px 10px 5px $blk);
        }
    }
    .ad-decorator {
        position: absolute;
        height: 105%;
        top: 40%;
        right: -24px;
        transform: translateY(-50%) rotate(-5deg);
        z-index: -1;
        img {
            pointer-events: all;
            height: 100%;
            width: auto;
            opacity: 0.6;
            transition: 1s;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .playable-ad {
        position: absolute;
        // border: 2px dashed red;
        right: 148px;
        top: -12px;
        transform: rotate(2deg);
        // opacity: 0.5;
        transition: 5s;
        filter: brightness(0.5) grayscale(50%);
        .player-bg {
            height: 700px;
            // border: 2px solid greenyellow;
            img {
                height: 100%;
                width: auto;
            }
        }
        .ad-iframe {
            pointer-events: all;
            position: absolute;
            height: 530px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // overflow: hidden;
        }
        &:hover {
            transition: 1s;
            filter: brightness(1);
            // opacity: 1;
        }
    }
    .ad-info {
        position: absolute;
        right: 612px;
        width: 50%;
        text-align: right;
        // top: 96px;
        top: 50%;
        transform: translateY(-70%);
        .header {
            font-family: 'Raleway Dots', sans-serif;
            opacity: 0.8;
        }
        .project-header {
            font-family: 'Questrial', sans-serif;
            margin-bottom: 48px;
            opacity: 0.5;
        }
        .project-desc {
            font-family: 'Raleway Dots', sans-serif;
            font-weight: 800;
            width: 480px;
            float: right;
            opacity: 0.5;
        }
    }
}