@import './vars.scss';

@keyframes intro-header-letter-down {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes intro-model-up {
    0% {
        opacity: 0;
        margin-top: 60vh;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
        margin-top: 0px;
    }
}
@keyframes intro-model-toscroll {
    0% {
        opacity: 0.5;   
    }
    100% {
        opacity: 0.25;
    }
}
@keyframes intro-model-outscroll {
    0% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.7;
    }
}
@keyframes intro-header-letter-up {
    0% {
        opacity: 0;
        margin-top: 20px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes intro-separator-expand {
    0% {
        width: 0px;
    }
    100% {
        width: 120px;
    }
}
@keyframes intro-sub-header-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}
@keyframes intro-center-separator {
    0% {
        width: 0px;
    }
    60% {
        width: 120%;
        border-radius: 1px;
    }
    80% {
        width: 120%;
        border-radius: 1px;
    }
    100% {
        width: 120%;
        border-radius: 25%;
    }
}
@keyframes intro-center-separator-portrait {
    0% {
        width: 0px;
    }
    60% {
        width: 60%;
        border-radius: 1px;
    }
    80% {
        width: 60%;
        border-radius: 1px;
    }
    100% {
        width: 60%;
        border-radius: 25%;
    }
}
@keyframes popout-up {
    0% {
        opacity: 0;
        margin-top: 10px;
    }
    100% {
        opacity: 0.5;
        margin-top: 0px;
    }
}
@keyframes popout-expand {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
@keyframes popout-fade-out {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
@keyframes showcaser-active-border-top {
    0% {
        outline: 0px solid $darkblack;
    }

    100% {
        outline: 15px solid $darkblack;

    }
}
@keyframes dropper-cell-in-left {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes showcaser-cell-highlight {
    0% {
        height: 0px;
    }
    100% {
        height: 6px;
    }
}
@keyframes showcaser-caption-highlight {
    0% {
        padding-bottom: 0px;
    }
    100% {
        padding-bottom: 8px;
    }
}
