@import './animations.scss';
@import './projects-page.scss';
@import './proj-page.scss';
@import './vars.scss';
@import './flintro.scss';
@import './project-dropper.scss';
@import './signature.scss';

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#main {
    overflow-x: hidden !important;
    overflow-y: hidden;
    z-index: -2;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

* {
    font-family: "Cormorant Garamond", serif;
    color: white;
    padding: 0px;
    margin: 0px;
    transition-timing-function: $lightsnapandeaseout;
    animation-timing-function: $lightsnapandeaseout;
    cursor: default;
}

body {
    background-color: $darkgray;
    overflow-x: hidden;
}

.content-box-padded {
    padding: $defaultpadding $contentboxpadding;
    @media (orientation: portrait) {
        padding: $defaultpadding $contentboxpaddingportrait;
    }
}

.full-page {
    position: relative;
    max-width: 100%;
    height: 100%;
    &.subber {
        width: 70%;
        margin-left: $defaultpadding
    }
}

#interdimensions {
    display: none;
    pointer-events: none;
    // position: absolute;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: transparent;
    opacity: 0;
    transition: 0.175s;
    transition-timing-function: cubic-bezier(.17,.67,.79,1.02);
    &:not(.stuck-at-bottom) {
        animation: intro-model-up 2.5s cubic-bezier(.34,1.25,0,.94) 0.25s forwards;
    }
    &.stuck-at-bottom {
        top: 0px;
        animation: intro-model-outscroll 0.5s forwards;
    }
}

#header-page {
    height: 120vh;
}

#intro-sidebar {
    opacity: 0.5;
    position: relative;
    height: 100vh;
    width: 375px;
}

#intro-center {
    // border: 3px dashed yellow;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);

    h1 {
        opacity: 0;
        font-family: "Inconsolata", sans-serif;
        font-weight: 400;
        font-size: 70px;
        text-transform: uppercase;
        transition: 8s;
        width: 100%;
        white-space: nowrap;
        transition-timing-function: cubic-bezier(.51,.06,.31,.95);
        .separator {
            opacity: 0.25;
            left: 50%;
            bottom: -40px;
            width: 0px;
            transform: translateX(-50%);
            animation: intro-center-separator 0.8s 2s forwards cubic-bezier(.63,.02,.29,.94);
            @media (max-width: $breakpoint-phone) {
                animation: intro-center-separator-portrait 0.8s 2s forwards cubic-bezier(.63,.02,.29,.94);
            }
        }
    }
}

.separator {
    position: absolute;
    background-color: white;
    height: 4px;
    width: 100px;
    border-radius: 1px;
}

.intro-header {
    $intro-header-delay: 1s;
    $intro-sub-header-delay: 1.25s;
    $intro-separator-delay: 1.5s;
    width: 100%;
    height: 375px;
    position: absolute;
    top: -40px;//120px;
    left: 0px;//150px;
    color: white;
    transform: scale(0.6);
    *:hover {
        cursor: default;
    }
    .intro-header-letter {
        font-size: 300px;
        position: absolute;
        z-index: 1;
        &:nth-child(1), &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(1) {
            // opacity: 0;
            animation: intro-header-letter-down 0.5s $intro-header-delay forwards $lightsnapandeaseout;
        }
        &:nth-child(2) {
            // opacity: 0;
            color: lightgray;
            z-index: 0;
            left: 75px;
            animation: intro-header-letter-up 0.5s 1.05s forwards $lightsnapandeaseout;
        }
    }
    #intro-sub-header {
        h2 {
            font-family: "Mate SC", serif;
            font-size: 28px;
            opacity: 0;
            animation: intro-sub-header-in 0.5s $intro-sub-header-delay forwards $lightsnapandeaseout;
        }
        position: absolute;
        left: 115px;
        bottom: 55px;
    }
    .intro-separator {
        width: 0px;
        height: 4px;
        background-color: white;
        border-radius: 1px;
        position: absolute;
        left: 9px;
        top: 400px;
        animation: intro-separator-expand 0.5s $intro-separator-delay forwards $lightsnapandeaseout;
    }
    .intro-nav {
        position: absolute;
        top: 420px;
        left: 10px;
        ul {
            list-style: none;
            li {
                opacity: 0;
                font-family: "Manrope", sans-serif;
                padding: 10px 0px;
                font-size: 24px;
                transition: 0.8s;
                transition-timing-function: $lightsnapandeaseout;
                &.cascadia-show {
                    opacity: 0.7 !important;
                    
                }
                &:hover {
                    &.cascadia-show {
                        transition: 0.2s;
                        opacity: 1 !important;
                        cursor: pointer;
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}

#intro-subpiece {
    position: absolute;
    top: 230px;
    right: 70px;
    &::after {
        content: "";
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: 1px;
        width: 100vw;
    }
    .intro-side-piece {
        opacity: 0;
        font-family: "Manrope", sans-serif;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 16px;
        span {
            font-family: "Manrope", sans-serif;
            font-size: 12px;
            &.cascadia-show {
                opacity: 0.8 !important;
            }
        }
    }
    #social-links {
        position: absolute;
        right: 0px;
        top: -5px;
        transform: translateY(-100%);
        i {
            pointer-events: all;
            opacity: 0;
            font-size: 32px;
            padding-left: 10px;
            &.cascadia-show {
                opacity: 0.25 !important;
            }
            &:hover.cascadia-show  {
                cursor: pointer;
                transition: 0.2s;
                opacity: 0.9 !important
            }
        }
    }
}

#hello-nav {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    border: 1px dotted rgba(255,255,255,0.25);
    transform: translate(-50%, -50%);
    .nav-row {
        margin-left: 20%;
        width: 60%;
        border: 1px dotted rgba(255,255,255,0.25);
        display: flex;
        flex-direction: row;
        justify-content: center;
        .nav-cell {
            border: 1px dotted rgba(255,0,255,0.25);
            flex-grow: 1;
            text-align: center;
            p {
                text-transform: uppercase;
                font-size: 42px;
                font-family: "Manrope", sans-serif;
            }
        }
    }
}

footer {
    height: 200px;
    margin-top: 184px;
    background-color: $darkblack;
    h3, h5, h6 {
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        opacity: 0.5;
    }

    h5 {
        font-size: 12px;
        opacity: 0.25;
    }

    h6 {
        font-size: 16px;
    }

    a {
        text-decoration: none;
        &:hover {
            cursor: pointer !important;
        }
    }
}

@media (orientation: portrait) {
    #intro-center {
        h1 {
            font-size: 24px;
        }
    }
    #intro-subpiece {
        top: $defaultpaddingportrait;
        right: $defaultpaddingportrait;
        text-align: right;
        opacity: 0.5;
        #social-links {
            bottom: -5px;
            transform: translateY(100%);
            i {
                font-size: 56px;
            }
        }
    }
    .intro-header {
        top: 20%;
        transform: translate(-20%, -50%) scale(0.4);
        right: $defaultpaddingportrait;
    }
}
