$black: #08080C;
$darkestgray: #181925;
$darkgray: #313149;
$darkishgray: #556177;
$gray: #8D99AE;
$lightgray: #EDF2F4;

$defaultpadding: 40px;

$easeboing: cubic-bezier(.34,1.5,0,.94);

* {
    font-family: 'DM Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    transition: 0.75s;
    transition-timing-function: cubic-bezier(.13, 0.9, 0, 1.03);
    animation-timing-function: cubic-bezier(.13, 0.9, 0, 1.03);
}

h1, h2, h3, h4, h5, h6, p {
    cursor: default;
}

body {
    background-color: $darkgray;
}

.full-page {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    padding: 0px $defaultpadding;
    &.subber {
        width: 95%;
    }
}

.intro-header {
    position: absolute;
    top: 50%;
    width: calc(100vw - calc(#{$defaultpadding} * 2));
    transform: translateY(-50%);
    color: white;
    h1 {
        font-size: 10vw;
    }
    h2 {
        width: 100%;
        text-align: right;
        color: $gray;
    }
}

.scrolldown-button {
    cursor: default;
    color: $gray;
    font-size: 5vw;
    position: absolute;
    bottom: 0px;
    right: $defaultpadding;
    &:hover {
        cursor: pointer !important;
    }
}

.subber-page-header {
    width: calc(100% - #{$defaultpadding});
    text-align: right;
    font-size: 4vw;
    padding-top: $defaultpadding;
    color: $darkgray;
}

#projects-page {
    // border: 3px dashed red;
    background-color: $gray;
    padding-bottom: calc(#{$defaultpadding} * 4);
    min-height: 10vh;
}

#project-expansion-holder {
    position: relative;
    overflow: hidden;
    &.expanded {
        transition: max-height 1s ease-in-out;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 5px;
        background-color: #1e1e1e;
        z-index: 3;
    }
}

#projects-grid {
    margin-top: $defaultpadding;
    background-color: $gray;
    transition: max-height 2s ease-in;
    max-height: 900px;
    &.expanded {
        // border: 4px dashed red;
        max-height: 999vh;
    }
}

.projects-row {
    display: flex;
    flex-direction: row;
}

.project-cell {
    border: 1px dotted black;
    padding: $defaultpadding;
    position: relative;
    width: 50%;
    min-height: 33vh;
    height: 33vh;
    margin: $defaultpadding;
    background-color: $darkgray;
    color: white;
    z-index: 2;
    &:hover {
        cursor: pointer !important;
        transform: translateY(-15px);
        &::before {
            transform: translate(-15px, 30px);
            opacity: 0.15;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 1);
        opacity: 0.2;
        transition: 0.1s;
        z-index: -1;
        transform: translate(-15px, 15px);
    }
    .project-header {
        h3, h5 {
            text-transform: lowercase;
        }
        h3 {
            color: $gray;
        }
    }
}

#projects-dropper {
    position: absolute;
    padding: 0px;
    bottom: calc(#{$defaultpadding} * 3.25);//128;
    left: calc(#{$defaultpadding} * 4);
    font-size: 50px;
    z-index: 20;
    // line-height: 0;
    color: $darkishgray;
    transform-origin: 50% 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    h3 {
        font-family: 'Fredoka One', sans-serif;
        display: none;
        position: absolute;
        top: $defaultpadding;
        text-transform: uppercase;
        width: 196px;
        font-size: 24px;
        opacity: 0;
        transition: 5s;
        transform-origin: 0% 50%;
        transform: rotate(90deg) translateY(-50%);
        word-break: keep-all;
        color: $darkishgray;
    }
    &.removed {
        transform: translate(-50%, 100%);
        i {
            opacity: 0;
        }
    }
    &:hover {
        cursor: pointer !important;
        margin-bottom: 5px;
        transform: translateX(-50%) rotate(-90deg);
        transition: 0.5s;
        transition-timing-function: $easeboing;
        &:active {
            // border: 20px dashed red;
            transition: 0.2s;
            transition-delay: 0s;
            // color: $darkestgray;
            font-size: 50px;
        }
        &::before {
            height: 212px;
            transition: height 0.2s;
        }
        h3 {
            transition: 5s;
            display: block;
            opacity: 1;
        }
    }
    &::before, &::after {
        content: '';
        position: absolute;
        width: 64px;
        left: 50%;
        top: 50%;
        background-color: $gray;
        z-index: -1;
    }
    &::before {
        transition: height 0.5s;
        transform: translateX(-50%);
        height: 0px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
    }
    &::after {
        transform: translate(-50%, -50%);
        height: 64px;
        // border-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
}

footer {
    height: 200px;
}