@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Fredoka+One&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import './animations.scss';

$black: #08080C;
$darkestgray: #181925;
$darkgray: #1e1e1e;
$darkishgray: #556177;
$gray: #8D99AE;
$lightgray: #EDF2F4;
$subbermargin: 60px;

$defaultpadding: 40px;
$count: 15;

$easeboing: cubic-bezier(.34,1.5,0,.94);
$snapandeaseout: cubic-bezier(0,.93,0,.95);
$lightsnapandeaseout: cubic-bezier(.07,.75,.32,.96);

* {
    font-family: 'Cormorant Garamond', serif;
    padding: 0px;
    margin: 0px;
    transition: 0.75s;
    transition-timing-function: cubic-bezier(.13, 0.9, 0, 1.03);
    animation-timing-function: cubic-bezier(.13, 0.9, 0, 1.03);
}

h1, h2, h3, h4, h5, h6, p {
    cursor: default;
}

body {
    background-color: $darkgray;
}

.full-page {
    position: relative;
    max-width: 100%;
    height: 100%;
    padding: 0px $defaultpadding;
    &.subber {
        width: 70%;
        margin-left: $defaultpadding
    }
}

.intro-header {
    $intro-header-delay: 1s;
    $intro-sub-header-delay: 1.5s;
    // border: 3px dashed red;
    width: 375px;
    height: 375px;
    position: absolute;
    top: 120px;
    left: 150px;
    color: white;
    transform: scale(1.2);
    .intro-header-letter {
        font-size: 300px;
        position: absolute;
        z-index: 1;
        &:nth-child(1), &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(1) {
            // opacity: 0;
            animation: intro-header-letter-down 0.5s $intro-header-delay forwards $lightsnapandeaseout;
        }
        &:nth-child(2) {
            // opacity: 0;
            color: lightgray;
            z-index: 0;
            left: 75px;
            animation: intro-header-letter-up 0.5s $intro-header-delay forwards $lightsnapandeaseout;
        }
    }
    #intro-sub-header {
        h2 {
            font-family: "Mate SC", serif;
            font-size: 28px;
            opacity: 0;
            animation: intro-header-letter-up 0.5s $intro-sub-header-delay forwards $lightsnapandeaseout;
        }
        position: absolute;
        left: 115px;
        bottom: 60px;
    }
}

footer {
    height: 200px;
}