@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');
@import './vars.scss';

:root {
    dipper-width: 20px;
}

body {
    overflow-x: hidden;
}

#projects-page {
    position: relative;
    #projects-page-header {
        position: absolute;
        font-size: 60px;
        // border: 1px dashed orange;
        // right: 70px;
        left: 50%;
        transform: translateX(-50%);
        h3 {
            font-family: 'Cormorant Garamond', serif;
        }
        .popout {
            font-family: 'Mina', sans-serif;
            font-size: 24px;
            position: fixed;//absolute;
            // top: -20px;
            // right: 0px;
            right: 70px;
            bottom: 10px;
            // width: 100%;
            width: 100px;
            transform: translateY(-100%);
            text-align: right;
            opacity: 0;
            transition: 0.5s;
            animation: popout-up 0.25s 3s forwards;
            &::after {
                content: '';
                position: absolute;
                width: 0px;
                height: 2px;
                // border-radius: 1px;
                right: 0px;
                bottom: -10px;
                background-color: white;
                opacity: 0.5;
                animation: popout-expand 0.25s 3.25s forwards $lightsnapandeaseout;
            }
            &.hidden {
                opacity: 0.5;
                animation: popout-fade-out 0.5s 0.2s forwards;
            }
        }
    }
    .projects-grid {
        $img-trans-time: 10s;
        $img-trans-func: ease-in-out;//cubic-bezier(.25, .98, .53, .97);
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 150px;
        .project-cell {
            // border: 2px dashed orange;
            position: relative;
            height: 300px;
            width: 80%;
            margin: 60px 70px;
            overflow: visible;
            // border: 2px dashed red;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 200%;
                height: 70%;
                transform: translate(-50%, -50%);
                opacity: 0.1;
                background-color: rgba(0, 0, 0, 1);
                z-index: -3;
                transition: 1s;
                transition-timing-function: ease-out;
            }
            &:hover {
                cursor: pointer !important;
                * {
                    cursor: pointer !important;
                }
                &::before {
                    transition-timing-function: $lightsnapandeaseout;
                    opacity: 0.5;
                }
                .project-header {
                    opacity: 1;
                    transition: opacity 0.2s;
                    h1::after {
                        margin-left: 10px;
                        width: 250px;
                    }
                    h1::before {
                        margin-left: 70px;
                        // width: 20px;
                        width: var(--dipper-width);
                        transition-delay: 0.25s;
                    }
                    h5 {
                        color: $orange;
                        transition-delay: opacity 0.5s;
                        opacity: 0.8;
                    }
                    h3 {
                        transition-delay: 0.75s;
                        opacity: 0.5;
                    }
                }
                .project-image {
                    img {
                        opacity: 0.1;
                    }
                }
            }
            .project-header {
                $dynamo-border-spacing: 30px;
                position: absolute;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 9;
                opacity: 0.5;
                transition: opacity .75s;
                transition-timing-function: $lightsnapandeaseout;
                h1 {
                    $bottom-sep-width: 200px;
                    position: relative;
                    font-family: "Manrope", sans-serif;
                    font-size: 40px;
                    margin-bottom: 40px;
                    &::after {
                        left: 0px;
                        width: $bottom-sep-width;
                    }
                    &::after, &::before {
                        content: '';
                        position: absolute;
                        bottom: -20px;
                        background-color: white;
                        height: $line-width;
                        // border-radius: 1px;
                        transition: 0.5s;
                        transition-timing-function: cubic-bezier(.37,0,.11,1.09);//cubic-bezier(.76,-0.01,.11,1.09);//$lightsnapandeaseout;
                    }
                    &::before {
                        left: calc(#{$bottom-sep-width} + 20px);
                        width: 0px;
                        transition-delay: 0.1s;
                    }
                }
                h5 {
                    // font-family: "Inconsolata", sans-serif;
                    text-transform: uppercase;
                    font-family: "Manrope", sans-serif;
                    font-size: 18px;
                    opacity: 0.4;
                }
                h3 {
                    opacity: 0.3;
                    margin-top: 10px;
                    font-family: "Inconsolata", sans-serif;
                    // text-transform: uppercase;
                    // font-family: "Manrope", sans-serif;
                    font-size: 18px;
                }
            }
            .project-image {
                // border: 10px dashed green;
                position: relative;
                top: 50%;
                right: 0px;
                width: 95%;
                min-height: 100%;
                overflow: hidden;
                transform: translateY(-50%);
                filter: brightness(0.6);
                transition: filter 2s;
                transition-timing-function: cubic-bezier(1, .02, .65, 1.06);
                img {
                    transition-delay: 2s;//0.25s;
                    transition-timing-function: cubic-bezier(.37,.56,.44,.93);
                    position: absolute;
                    left: 50px;
                    width: 100%;
                    min-height: 100%;
                    transition: $img-trans-time;
                    transition-timing-function: $lightsnapandeaseout;
                    border-radius: inherit;
                    opacity: 0.1;
                }
            }
            &.right {
                margin-left: auto;
            }
        }
    }
}