// @import '../styles/vars.scss';
@import '../styles/vars.scss';
@import '../styles/toolboccs.scss';

* {
    transition: 0s;
}

.proj-header-page {
    position: relative;
    // border: 2px dashed green;
    // height: 100vh;
    height: 50vh;
}

.proj-header-image {
    position: relative;
    width: 100%;
    height: 100%;
    // border: 2px dashed red;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.4));

    }
    &:hover {
        img {
            opacity: 4;
        }
    }
    img {
        transition: 0s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        height: auto;
        min-height: 100%;
        transition: opacity 5s;
        opacity: 0.25;
    }
}

.proj-header {
    $spacing: 60px;
    position: absolute;
    top: 100%;
    right: 42px;
    transform: translateY(-50%);
    h1 {
        position: relative;
        font-family: "Manrope", sans-serif;
        font-size: 64px;
        text-transform: uppercase;
        z-index: 1;
    }
    h2 {
        font-family: "Inconsolata", sans-serif;
        position: absolute;
        top: -10px;
        right: 0px;
        transform: translateY(calc(-50% - 10px));
        text-align: right;
        opacity: 0.25;
        &::after {
            content: '';
            position: absolute;
            bottom: -12px;
            right: -10px;
            width: 80%;
            background-color: white;
            opacity: 0.5;
            height: 2px;
        }
    }
    &::before, &::after {
        $spacing: 60px;
        content: '';
        position: absolute;
        top: 50%;
        width: calc(100vw - 100% - calc(#{$spacing} * 2));
        right: calc(100% + calc(#{$spacing} / 2));
        transform: translateY(-50%);
        border-radius: 2px;
        height: 5px;
        background-color: white;
    }
    &::before {
        width: 110vw;
        background-color: #404040;
        z-index: 0;
        height: 2px;
        right: -$spacing;
    }
}

.proj-summary-page {
    display: flex;
    // border: 2px dashed red;
    background: rgba(0, 0, 0, 0.25);
    padding: $defaultpadding;
    p {
        font-family: 'Manrope', sans-serif;
        font-size: 24px;
        margin-bottom: 60px;
    }
}

.summary-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 2px dashed yellow;
    margin-right: 60px;
}

.summary-header {
    position: relative;
    font-family: 'Questrial', sans-serif;
    font-size: 48px;
    margin: 64px 0px;
    text-transform: uppercase;
    opacity: 0.5;
    &::after {
        content: '';
        position: absolute;
        bottom: -30px;
        left: 0px;
        width: 30%;
        height: 2px;
        background-color: white;
        opacity: 0.5;
    }
}

#screenshots {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: $contentboxpadding;
        width: 50%;
        height: 4px;
        background-color: white;
        opacity: 0.25;
        transform: translateY(-50%);
    }
    .screenshots-header h1 {
        font-family: 'Questrial', sans-serif;
        font-size: 64px;
        text-transform: uppercase;
        // border: 2px dashed white;
        text-align: right;
        opacity: 0.8;
        letter-spacing: 10px;
        transform: translateX(10px);
    }
}

.screenshots-grid {
    position: relative;
    margin: 84px 0px 84px 0px;
    &::before {
        content: '';
        width: 100vw;
        background-color: black;
        opacity: 0.175;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 75%;
    }
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -32px;
        height: 90%;
        width: 5px;
        background-color: white;
        opacity: 0.75;
        transform: translate(-50%, -50%);
    }
    .row {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        // mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        // -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        
        mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(20%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
        -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(20%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));

        .cell {
            // mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
            // -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
            transition: 0.25s;
            opacity: 0.5;
            height: 720px;
            margin: 0px 12px;
            img {
                transition-timing-function: $lightsnapandeaseout;
                transition: 0.85s;
                height: 100%;
            }
            &:hover {
                transition: 1.25s;
                opacity: 0.6;
                img {
                    &:hover {
                        cursor: pointer;
                    }
                    transition: 0.25s;
                    transform: scale(1.0125);
                }
            }
        }
    }
}

#similar-projects {
    .similar-projects-header h3 {
        font-family: "Manrope", sans-serif;
        font-size: 42px;
        opacity: 0.4;
    }
}