@import './vars.scss';
@import './animations.scss';

$pjd-cell-height: 480px;
$midlinecol: #4f4f4f;
$cell-logo-distance: 7.5vw;

#project-dropper {
    $dropper-highlight-line-distance: -2%;
    $dropper-highlight-margin: 4px;
    $popper-width: 4px;

    position: relative;
    // border: 2px dashed red;
    min-height: 100vh;
    margin-bottom: 248px;

    .project-dropper-header {
        position: absolute;
        top: 48px;
        right: $defaultpadding;
        h1 {
            text-transform: uppercase;
            font-family: 'Manrope', sans-serif;
            font-size: 48px;
            opacity: 0.35;
        }
    }

    .midline {
        position: absolute;
        left: 50%;
        width: 2px;
        height: 110%;
        background-color: $midlinecol;
        transform: translate(-50%, 8%);
        border-radius: 4px;
    }

    .project-dropper-col {
        width: 50vw;
        &.right {
            position: absolute;
            left: 50vw;
            top: calc(#{$pjd-cell-height} / 2);
            .project-dropper-cell {
                margin-left: auto;
                margin-right: -10%;
                .cell-header {
                    right: auto;
                    text-align: left;
                    padding-left: $defaultpadding;
                }

                .cell-logo {
                    left: auto;
                    right: $cell-logo-distance;
                }

                &::after {
                    left: calc(#{ $dropper-highlight-line-distance } - #{ $popper-width } / 2);
                    right: auto;
                }

                &::before {
                    right: auto;
                    left: 0px;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .project-dropper-cell {
        pointer-events: all;
        position: relative;
        width: 105%;
        margin-bottom: 0px;//calc(#{$pjd-cell-height} / 2);
        margin-left: -10%;
        height: $pjd-cell-height;
        opacity: 0;
        &.animated {
            opacity: 1;
            animation: dropper-cell-in-left 1s;
        }
        .cell-header {
            width: 100%;
            position: absolute;
            bottom: $defaultpadding;
            right: $defaultpadding;
            text-align: right;
            opacity: 0.75;
            transition: 1.5s;
            transition-timing-function: ease-in-out;
            h1 {
                font-family: 'Raleway Dots', sans-serif;
                text-transform: uppercase;
                font-weight: 800;
                font-size: 48px;
                small {
                    font-family: 'Raleway Dots', sans-serif;
                    font-size: 24px;
                }
            }
            h2 {
                font-family: 'Inconsolata', sans-serif;
                text-transform: uppercase;
                opacity: 0.5;
                font-size: 16px;
            }
        }

        .cell-image {
            position: relative;
            width: 100%;
            height: 100%;
            // border: 3px dashed orange;
            height: 320px;
            top: 50%;
            transform: translate(0%, -50%);
            transition: 2s;
            transition-timing-function: $lightsnapandeaseout;
            overflow: hidden;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // max-height: 100%;
                min-width: 100%;
                min-height: 100%;
                width: 100%;
                height: auto;
                object-fit: cover;
                transition: 3s;
                transition-delay: 0.25s;
                opacity: 0.25;
                filter: grayscale(100%) brightness(80%);
            }
        }

        .cell-logo {
            position: absolute;
            top: 112px;
            left: $cell-logo-distance;
            width: 96px;
            opacity: 0.1;
            transition: 0.5s;
            transition-timing-function: $lightsnapandeaseout;
            img {
                width: 100%;
                height: auto;
                transition: 1.5s;
                filter: grayscale(100%);
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: calc(#{ $dropper-highlight-line-distance } + #{ $popper-width } / 2);
            transform: translateY(-50%);
            height: 70%;
            width: $popper-width;
            border-radius: 4px;
            background-color: white;
            opacity: 0.5;
            transition: 0.25s;
            transition-timing-function: $aggressiveeaseboing;
        }

        &::before {
            content: '';
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translate(50%, -50%);
            height: 80%;
            width: 64px;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            opacity: 0;
            transition: 1s;
            transition-timing-function: $easeinoutxtra;
            filter: blur(15px);
        }

        &:hover {
            cursor: pointer;
            .cell-header {
                opacity: 1;
                transition-delay: 0.25s;
                // transform: translateX(calc(#{ $dropper-highlight-margin } * -0.75));
            }

            .cell-image {
                // transform: translate($dropper-highlight-margin, -50%);
                transition: 0.5s;
                transition-timing-function: ease-in-out;
                img {
                    transition: 0.75s;
                    transition-delay: 0s;
                    filter: grayscale(50%) brightness(100%);
                    opacity: 0.35;
                }
            }

            .cell-logo {
                top: 100px;
                opacity: 0.25;
                img {
                    filter: grayscale(75%);
                }
            }

            &::after {
                opacity: 1;
                height: 72%;
                border-radius: 0px;
                transition: 0.2s;
            }

            &::before {
                opacity: 1;
            }
        }
    }
}

@media (orientation: portrait) {
    #project-dropper {
        .project-dropper-header {
            top: 0px;
            right: auto;
            left: $defaultpaddingportrait;
            h1 {
                text-transform: capitalize;
                font-size: 24px;
            }
        }
        .project-dropper-col {
            width: 100vw;
            .project-dropper-cell {
                margin-bottom: calc(#{ $pjd-cell-height } / 2);
                margin-top: calc(#{ $pjd-cell-height } / 2);
                .cell-logo {
                    opacity: 0.25;
                    left: auto;
                    right: 10vw;
                    img {
                        transform: translateX(50%);
                        filter: grayscale(0%);
                    }
                }
            }
            &.right {
                top: calc(#{ $pjd-cell-height } / 4);
                margin-top: calc(#{ $pjd-cell-height });
                left: auto;
                .project-dropper-cell {
                    transform: translateY(calc(#{ -$pjd-cell-height }));
                    .cell-logo {
                        right: auto;
                        left: 10vw;
                        img {
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $breakpoint-phone) {
    #project-dropper {
        .project-dropper-col {
            .project-dropper-cell {
                .cell-header {
                    bottom: calc(#{ $defaultpadding } * 1.5);
                    right: $defaultpaddingportrait;
                    opacity: 0.9;
                    h1 {
                        font-weight: 800;
                        font-size: 6vw;
                    }
                }
                .cell-logo {
                    right: auto;
                    left: 15vw;
                    width: 13%;
                    img {
                        transform: translateX(0%);
                    }
                }
            }
            &.right {
                .project-dropper-cell {
                    .cell-logo {
                        left: auto;
                        right: 15vw;
                        img {
                            transform: translateX(0%);
                        }
                    }
                }
            }
        }
    }
}