@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap');
@import './vars.scss';

.skillset-toolbox-header {
    margin-top: 84px;
    position: relative;
    display: flex;
    flex-direction: row;
    transition: 0.25s;
    transition-timing-function: $lightsnapandeaseout;
    transform: translateX(42px);
    transition-delay: 0.25s !important;
    .skillset-header-icon {
        margin-left: 84px;
        font-size: 42px;
        color: white;
        align-self: flex-end;
        opacity: 0;
        transition-delay: 1.5s !important;
        transition: 0.25s;
        transition-timing-function: $lightsnapandeaseout;
        transform: translateX(-42px);
    }
    h2 {
        font-family: "Raleway Dots", sans-serif;
        font-size: 42px;
        text-transform: uppercase;
    }
    h3 {
        display: none;
        font-family: "Inconsolata", sans-serif;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition-delay: 2s !important;
        transition: 0.5s;
        transform: translateY(-100%);
    }
    &::after {
        content: '';
        position: absolute;
        width: 0px;
        height: 2px;
        left: 0px;
        bottom: -24px;
        background-color: white;
        opacity: 0.25;
        transition-timing-function: $lightsnapandeaseout;
        transition-delay: 1s !important;
        transition: 1s;
    }
    &.animated {
        opacity: 1;
        transform: translateX(0px);
        .skillset-header-icon {
            opacity: 0.7;
            transform: translateX(0px);
        }
        &::after {
            width: 96px;
        }
        &::before {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
        h3 {
            display: block;
            opacity: 0.25;
        }
    }
}

.skillset-toolbox {
    position: relative;
    margin-top: 84px;
    width: 100%;
    height: 240px;
    overflow-y: visible;
    mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(10%, rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(90%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(10%, rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(90%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
    &::before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 75%;
        background-color: $darkblack;
        left: 50%;
        // top: 50%;
        bottom: 0px;
        opacity: 1;
        transform: translateX(-50%);
        transition: opacity 2s, transform 0.5s;
        transition-timing-function: $lightsnapandeaseout;
        transition-delay: 2s !important;
        z-index: -1;
    }
    .skillset-toolbox-content {
        position: relative;
        width: 100%;
        height: 100%;
        .skillset-toolbox-scroll-container {
            position: absolute;
            width: 100%;
            height: 100%;
            // transition: 0.75s;
            transition: 2s;
            transition-timing-function: $lightsnapandeaseout;
            .skillset-toolbox-row {
                position: absolute;
                left: 50%;
                bottom: 42px;
                width: 100%;
                // border: 2px dashed white;
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-grow: 1;
                transform: translateX(-50%);

                .skillset-toolbox-cell {
                    $size: 150px;
                    pointer-events: all;
                    position: relative;
                    min-width: $size;
                    width: $size;
                    height: $size;
                    opacity: 0.5;
                    img {
                        pointer-events: none !important;
                        position: absolute;
                        width: 100px;
                        height: auto;
                        bottom: 0px;
                        left: 50%;
                        opacity: 0.25;
                        transform: translateX(-50%);
                        z-index: 10;
                        transition: 0.75s;
                        transition-timing-function: $lightsnapandeaseout;
                    }
                    .skillset-tooltip {
                        pointer-events: none !important;
                        font-family: 'Bellota Text', sans-serif;
                        text-transform: uppercase;
                        font-size: 24px;
                        position: absolute;
                        left: 50%;
                        bottom: -24px;
                        opacity: 0;
                        transition: 1s;
                        transition-timing-function: $lightsnapandeaseout;
                        transform: translate(-50%, -12px);
                        z-index: 9;
                        filter: blur(10px);
                    }
                    &:hover {
                        cursor: pointer;
                        opacity: 0.75;
                        .skillset-tooltip {
                            transition: 0.25s;
                            transform: translate(-50%, 0px);
                            opacity: 0.5;
                            filter: blur(0px);
                        }
                        img {
                            transition: 0.125s;
                            width: 110px;
                            margin-bottom: 6px;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
    .skillset-toolbox-bottom {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 140px;
        left: 0px;
        bottom: 0px;
        overflow-y: hidden;
        border-bottom: 1px dotted rgba(255,255,255,0.4);
        // border: 2px dotted red;
        // background-color: rgba(235,233,249,1);
        &::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border-top-left-radius: 100%;
            border-top-right-radius: 100%;
            background: linear-gradient(to top, rgba(235,233,249, 0.1) 0%, rgba(216,208,239, 0.06) 65%, rgba(206,199,236, 0.03) 66%, rgba(193,191,234, 0.01) 100%);
            transform: translateY(50%);
        }
    }
    .skillset-toolbox-bottom-border {
        mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(10%, rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(90%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
        -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(10%, rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(90%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 80%;
        border: 2px solid white;
        border-radius: 50%;
        opacity: 0.45;
        transform: translate(-50%, 50%);
    }
}

@media (orientation: portrait) {
    .skillset-toolbox {
        height: auto;
        padding-top: 64px;
        &::before {
            height: 120%;
        }
        .skillset-toolbox-content {
            .skillset-toolbox-scroll-container {
                position: relative;
                .skillset-toolbox-row {
                    position: relative;
                    .skillset-toolbox-cell {                        
                        max-width: 33%;
                        height: 128px;
                        img {
                            width: 80%;
                            height: auto;
                        }
                    }
                    flex-wrap: wrap;
                    // display: inline-block;

                }
            }
        }
    }
}