:root {
    --toolbox-height: 100%;
    --toolbox-selected: 0;
}

.toolbox {
    $nav-width: 20%;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    // border: 2px dashed $orange;
    .toolbox-nav-list {
        position: relative;
        list-style: none;
        // border: 4px dashed blue;
        .toolbox-nav-item {
            font-family: 'Questrial', sans-serif;
            text-transform: uppercase;
            position: relative;
            // background-color: rgba(0, 0, 0, 0.1);
            margin: 5px 0px;
            padding: 10px 10px 10px 40px;
            font-size: 32px;
            // border: 2px dashed red;
            text-align: right;
            opacity: 0.3;
            transition: 0.25s;
            &.active {
                opacity: 1.0;
            }
            &:hover:not(.active) {
            cursor: pointer;
                opacity: 0.65;
            }
        }
        &::after {
            content: '';
            position: absolute;
            right: -20px;
            top: calc(var(--toolbox-height) * var(--toolbox-selected));
            height: var(--toolbox-height);
            width: 5px;
            background-color: $orange;
            transition: 0.5s;
            transition: 0.25s;
            transition-timing-function: $lightsnapandeaseout;
            transform: translateX(50%);
        }
        &::before {
            content: '';
            position: absolute;
            transform: translateX(50%);
            height: 100%;
            width: 2px;
            right: -20px;
            opacity: 0.1;
            background-color: white;
        }
    }
    .toolbox-content {
        position: relative;
        width: calc(100% - #{$nav-width});
        // border: 3px dashed red;
        margin-left: 20px;
        .toolbox-internal {
            display: none;
            opacity: 0;
            // border: 3px dashed cyan;
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0px $defaultpadding;
            transition: 0s opacity 2s;
            &.active {
                display: flex;
                opacity: 1;
            }
            .toolbox-internal-icons {
                position: relative;
                display: flex;
                flex-direction: column;
                // border: 2px dashed red;
                // height: 50%;
                height: 100%;
                // width: auto;
                flex-direction: column;
                justify-content: center;
                img {
                    // border: 2px dashed green;
                    height: 50%;
                    width: auto;
                    opacity: 0.25;
                }
            }
            .toolbox-internal-paragraph {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 30px;
                width: 50%;
                &:hover {
                    opacity: 0.85;
                    p {
                        opacity: 0.8;
                    }
                }
                // border: 2px dashed white;
                h2 {
                    font-family: 'Questrial', sans-serif;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    position: relative;
                    opacity: 0.7;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -15px;
                        transform: translateY(-50%);
                        left: 0px;
                        width: 50%;
                        background-color: white;
                        height: 2px;
                        opacity: 0.3;
                    }
                }
                p {
                    font-family: "Manrope", sans-serif;
                    font-size: 28px;
                    opacity: 0.5;
                    transition: opacity 1s;
                }
            }
        }
    }
}