@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');

:root {
    --toolbox-height: 100%;
    --toolbox-selected: 0;
}

@keyframes fade-in-icon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.25;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: inherit;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in-paragraph {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    12% {
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes bounce-out-with-that {
    0% {
        width: 0px;
    }
    100% {
        width: 50%;
    }
}

.toolbox {
    pointer-events: all;
    $nav-width: 20%;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    @media (orientation: portrait) {
        flex-direction: column;
    }

    .toolbox-nav-list {
        position: relative;
        list-style: none;
        opacity: 0.4;
        transition: 0.75s;
        transition-delay: 0.5s;
        pointer-events: all;
        &:hover {
            transition: 0.25s;
            transition-delay: 0s;
            opacity: 0.8;
        }
        // border: 3px dashed red;
        .toolbox-nav-item {
            font-family: 'Questrial', sans-serif;
            pointer-events: all;
            text-transform: uppercase;
            position: relative;
            margin: 5px 0px;
            padding: 10px 10px 10px 40px;
            font-size: 24px;
            text-align: right;
            opacity: 0.3;
            transition: 0.25s;
            @media (orientation: portrait) {
                text-align: left;
            }
            &.active {
                opacity: 1.0;
            }
            &:hover:not(.active) {
            cursor: pointer;
                opacity: 0.65;
            }
        }
        &::after {
            content: '';
            position: absolute;
            right: -20px;
            top: calc(var(--toolbox-height) * var(--toolbox-selected));
            height: var(--toolbox-height);
            width: 5px;
            background-color: $orange;
            transition: 0.5s;
            transition: 0.25s;
            transition-timing-function: $lightsnapandeaseout;
            transform: translateX(50%);
        }
        &::before {
            content: '';
            position: absolute;
            transform: translateX(50%);
            height: 100%;
            width: 2px;
            right: -20px;
            opacity: 0.1;
            background-color: white;
        }
    }
    .toolbox-content {
        position: relative;
        width: calc(100% - #{$nav-width});
        margin-left: 20px;
        @media (orientation: portrait) {
            width: 100%;
            height: 420px;
            margin-left: 0px;
            .toolbox-internal-icons img {
                height: 25% !important;
                margin-right: 42px;
            }
        }

        .toolbox-internal.go-away {
            img {
                opacity: 0 !important;
            }
            .toolbox-internal-paragraph {
                opacity: 0;
            }
        }
        .toolbox-internal {
            display: none;
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0px $defaultpadding;
            transition: 0s opacity 2s;
            &.active {
                display: flex;
                opacity: 1;
                .toolbox-internal-paragraph {
                    animation: fade-in-paragraph 1s forwards cubic-bezier(.07,.75,.32,.96);
                    animation-delay: 0.25s;

                    p {
                        transition: opacity 0.5s;
                        &:hover {
                            opacity: 0.7
                        }
                        opacity: 0.6
                    }
                    h2::after {
                        animation: bounce-out-with-that 0.25s 0.5s forwards cubic-bezier(.07,.75,.32,.96);
                    }
                    .toolbox-see-more {
                        font-size: 24px;
                        position: relative;
                        font-family: 'Montserrat Subrayada', sans-serif;
                        font-weight: 700;
                        text-transform: uppercase;
                        opacity: 0.5;
                        transition: 0.5s;
                        transition-timing-function: cubic-bezier(.07,.45,.37,.96) !important;
                        pointer-events: all;
                        &::after {
                            content: '';
                            position: absolute;
                            width: 90%;
                            height: 1px;
                            left: 0px;
                            bottom: 6px;
                            background-color: white;
                            transition: 0.5s;
                            opacity: 0;
                        }
                        &:hover {
                            cursor: pointer;
                            transition: 0.5s;
                            opacity: 0.75;
                            &::after {
                                transition: 0.2s;
                                opacity: 1;
                            }
                        }
                    }
                }
                .toolbox-internal-icons {
                    animation: fade-in-paragraph 1s forwards;

                    img {
                        opacity: 0.25;
                    }
                }
            }
            .toolbox-internal-icons {
                position: relative;
                display: flex;
                flex-direction: column;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                img {
                    transition: 0.5s;
                    transition-delay: 0.125s;
                    height: 50%;
                    width: auto;
                    opacity: 0;
                    object-fit: contain;
                    &:nth-child(1) {
                        animation-delay: 0.25s;
                        transition-delay: 0.25s;
                    }
                }
            }
            .toolbox-internal-paragraph {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 30px;
                width: 50%;
                transition: 0.5s;
                transition-delay: 0s;
                opacity: 0;
                @media (orientation: portrait) {
                    width: 100%;
                    margin-left: 0px;
                }
                h2 {
                    font-family: 'Raleway Dots', sans-serif;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    position: relative;
                    opacity: 0.7;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -15px;
                        transform: translateY(-50%);
                        left: 0px;
                        width: 0px;
                        background-color: white;
                        height: 2px;
                        opacity: 0.3;
                    }
                }
                p {
                    font-family: 'Manrope', sans-serif;
                    font-size: 22px;
                    opacity: 0;
                }
            }
            @media (orientation: portrait) {
                padding: 0px
            }
        }
    }
}