@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Fredoka+One&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

$darkblack: #171717;
$black: #08080C;
$darkestgray: #181925;
$darkgray: #1e1e1e;
$darkishgray: #556177;
$gray: #8D99AE;
$lightgray: #EDF2F4;
$orange: #ff7c0a;
$subbermargin: 60px;

$defaultpadding: 40px;
$contentboxpadding: 200px;
$contentboxpaddingportrait: 50px;
$count: 15;
$line-width: 4px;

$easeboing: cubic-bezier(.34,1.5,0,.94);
$snapandeaseout: cubic-bezier(0,.93,0,.95);
$lightsnapandeaseout: cubic-bezier(.07,.75,.32,.96);
$easeinoutxtra: cubic-bezier(.74,0,.48,1.01);